.elementor-618 .elementor-element.elementor-element-afac11b .elementor-spacer-inner {
    height: 35px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .media-wrapper .elementor-icon {
    font-size: 28px;
    margin: 4px 0px 0px 4px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .wgl-infobox_title {
    font-size: 30px;
    margin: 0px 0px 0px 23px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-fc4d687 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-55cf1d8>.elementor-widget-container {
    margin: -5px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-c660aa1 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-c660aa1>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-084fa88.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-084fa88.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-084fa88 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-084fa88 .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-084fa88 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-084fa88>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-275e605 .media-wrapper .elementor-icon {
    font-size: 28px;
    margin: 4px 0px 0px 4px;
}

.elementor-618 .elementor-element.elementor-element-275e605.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-275e605.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-275e605 .wgl-infobox_title {
    font-size: 30px;
    margin: 0px 0px 0px 23px;
}

.elementor-618 .elementor-element.elementor-element-275e605 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-275e605 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-275e605 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-275e605 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-13c328e .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-13c328e.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-13c328e.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-13c328e .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-13c328e .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-13c328e .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-13c328e .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-13c328e .wgl-infobox_content {
    margin: 0px 50px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-13c328e .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-13c328e>.elementor-widget-container {
    margin: -5px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-1bb0bae .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-1bb0bae>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-b9f4f28 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-b9f4f28>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .media-wrapper .elementor-icon {
    font-size: 28px;
    margin: 4px 0px 0px 4px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 30%;
    left: 0%;
    width: 30px;
    height: 30px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .wgl-infobox_title {
    font-size: 30px;
    margin: 0px 0px 0px 23px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-7b885e3 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-ee31928.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-ee31928.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-ee31928 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-ee31928 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-ee31928>.elementor-widget-container {
    margin: -5px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-ec14d09 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-ec14d09>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .media-wrapper .elementor-icon {
    font-size: 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-c324a32.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-c324a32.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 24%;
    left: 50%;
    width: 40px;
    height: 40px;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .wgl-infobox_title {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #003B49;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .wgl-infobox_title:after {
    display: block;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .wgl-infobox .wgl-infobox_title:after {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 0px;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-618 .elementor-element.elementor-element-c324a32 .wgl-infobox_content {
    padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-c324a32 .elementor-widget-container:hover .wgl-infobox_content {
    color: var(--e-global-color-primary);
}

.elementor-618 .elementor-element.elementor-element-c324a32 .elementor-widget-container {
    transition: 0.4s;
}

.elementor-618 .elementor-element.elementor-element-c324a32>.elementor-widget-container {
    margin: -4px 0px 0px 57px;
}

.elementor-618 .elementor-element.elementor-element-2759516 .elementor-spacer-inner {
    height: 113px;
}

.elementor-618 .elementor-element.elementor-element-c927e5d .elementor-repeater-item-ae07f6a {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-direction: normal;
    top: 0%;
    left: 79%;
    z-index: 0;
}

.elementor-618 .elementor-element.elementor-element-2ae3958>.elementor-element-populated {
    margin: 0px 10px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-5095573 iframe {
    height: 565px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.elementor-618 .elementor-element.elementor-element-e5838c0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-618 .elementor-element.elementor-element-e5838c0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-618 .elementor-element.elementor-element-e5838c0>.elementor-element-populated {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 12px -40px 20px;
    padding: 44px 55px 40px 52px;
}

.elementor-618 .elementor-element.elementor-element-e5838c0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-618 .elementor-element.elementor-element-e5838c0 {
    z-index: 5;
}

.elementor-618 .elementor-element.elementor-element-7908e3f>.elementor-widget-container {
    margin: 2px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-c927e5d .elementor-repeater-item-8da5dc8 {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    top: 34%;
    left: 2%;
    z-index: -1;
}

.elementor-618 .elementor-element.elementor-element-c927e5d .elementor-repeater-item-b18d46d {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    top: 59%;
    left: 12%;
    z-index: -1;
}

.elementor-618 .elementor-element.elementor-element-2bad4c6 .elementor-spacer-inner {
    height: 120px;
}

body.elementor-page-618 #main.site-main {
    z-index: 0;
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-618 .elementor-element.elementor-element-e8cc4d6 {
        width: 50%;
    }

    .elementor-618 .elementor-element.elementor-element-e784cbf {
        width: 50%;
    }

    .elementor-618 .elementor-element.elementor-element-751222f {
        width: 100%;
    }

    .elementor-618 .elementor-element.elementor-element-2ae3958 {
        width: 100%;
    }

    .elementor-618 .elementor-element.elementor-element-e5838c0 {
        width: 100%;
    }
}

@media(max-width:1200px) {
    .elementor-618 .elementor-element.elementor-element-afac11b .elementor-spacer-inner {
        height: 0px;
    }

    .elementor-618 .elementor-element.elementor-element-751222f>.elementor-element-populated {
        margin: 5% 25% 0% 25%;
    }

    .elementor-618 .elementor-element.elementor-element-2759516 .elementor-spacer-inner {
        height: 70px;
    }

    .elementor-618 .elementor-element.elementor-element-2ae3958>.elementor-element-populated {
        margin: 50px 0px 0px 0px;
    }

    .elementor-618 .elementor-element.elementor-element-e5838c0>.elementor-element-populated {
        margin: 0px 15px 0px 15px;
        padding: 35px 40px 40px 40px;
    }

    .elementor-618 .elementor-element.elementor-element-2bad4c6 .elementor-spacer-inner {
        height: 40px;
    }
}

@media(max-width:767px) {
    .elementor-618 .elementor-element.elementor-element-afac11b .elementor-spacer-inner {
        height: 0px;
    }

    .elementor-618 .elementor-element.elementor-element-fc4d687 .wgl-infobox_title {
        font-size: 27px;
    }

    .elementor-618 .elementor-element.elementor-element-e784cbf>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }

    .elementor-618 .elementor-element.elementor-element-275e605 .wgl-infobox_title {
        font-size: 28px;
    }

    .elementor-618 .elementor-element.elementor-element-751222f>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }

    .elementor-618 .elementor-element.elementor-element-7b885e3 .wgl-infobox_title {
        font-size: 28px;
    }

    .elementor-618 .elementor-element.elementor-element-e5838c0>.elementor-element-populated {
        padding: 26px 30px 30px 30px;
    }

    .elementor-618 .elementor-element.elementor-element-d352a4c .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-618 .elementor-element.elementor-element-d6f772d .wpcf7-form-control.wpcf7-submit {
        min-width: 100%;
    }
}