.elementor-4810 .elementor-element.elementor-element-c545898 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.elementor-4810 .elementor-element.elementor-element-0dbf934 img {
    width: 100%;
    max-width: 100%;
}

.elementor-4810 .elementor-element.elementor-element-23bf802 .elementor-spacer-inner {
    height: 25px;
}

.elementor-4810 .elementor-element.elementor-element-f28ab0e .elementor-heading-title {
    font-size: 36px;
}

.elementor-4810 .elementor-element.elementor-element-42de2e6>.elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-5757616>.elementor-widget-container {
    margin: -18px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-cc37d4b .elementor-spacer-inner {
    height: 20px;
}

.elementor-4810 .elementor-element.elementor-element-0dd4450>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .media-wrapper .elementor-icon {
    font-size: 32px;
    margin: 40px 0px 13px 0px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-436bdff.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .wgl-infobox_title {
    font-size: 22px;
    margin: 0px 0px 8px 0px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .elementor-widget-container:hover .wgl-infobox_title {
    color: #FFFFFF;
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-436bdff .wgl-infobox_content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .elementor-widget-container:hover .wgl-infobox_content {
    color: #FFFFFF;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-4810 .elementor-element.elementor-element-436bdff .elementor-widget-container:before {
    background-color: #323c8d;
}

.elementor-4810 .elementor-element.elementor-element-436bdff>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-3d9cea7>.elementor-element-populated {
    margin: 0px 10px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .media-wrapper .elementor-icon {
    font-size: 32px;
    margin: 40px 0px 13px 0px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .wgl-infobox_title {
    font-size: 22px;
    margin: 0px 0px 8px 0px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .elementor-widget-container:hover .wgl-infobox_title {
    color: #FFFFFF;
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .wgl-infobox_content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .elementor-widget-container:hover .wgl-infobox_content {
    color: #FFFFFF;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371 .elementor-widget-container:before {
    background-color: #323c8d;
}

.elementor-4810 .elementor-element.elementor-element-b6b0371>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-b0096b2>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .media-wrapper .elementor-icon {
    font-size: 32px;
    margin: 40px 0px 13px 0px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: 0%;
    left: 20%;
    width: 40px;
    height: 40px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
    background-color: #144A57;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .wgl-infobox_title {
    font-size: 22px;
    margin: 0px 0px 8px 0px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .elementor-widget-container:hover .wgl-infobox_title {
    color: #FFFFFF;
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .wgl-infobox_content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .elementor-widget-container:hover .wgl-infobox_content {
    color: #FFFFFF;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be .elementor-widget-container:before {
    background-color: #323c8d;
}

.elementor-4810 .elementor-element.elementor-element-82cf1be>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-d308beb .elementor-spacer-inner {
    height: 46px;
}

.elementor-4810 .elementor-element.elementor-element-59903e1 .elementor-heading-title {
    font-size: 30px;
}

.elementor-4810 .elementor-element.elementor-element-59903e1>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-4810 .elementor-element.elementor-element-cac8ca1>.elementor-widget-container {
    margin: 0px 0px -24px 0px;
}

.elementor-4810 .elementor-element.elementor-element-1e3f1af>.elementor-widget-container {
    margin: 0px 0px -24px 0px;
}

.elementor-4810 .elementor-element.elementor-element-f9d93a2>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-4810 .elementor-element.elementor-element-55edab9>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-4810 .elementor-element.elementor-element-874c836 .elementor-heading-title {
    font-size: 30px;
}

.elementor-4810 .elementor-element.elementor-element-874c836>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-e22e9da .elementor-spacer-inner {
    height: 70px;
}

.elementor-4810 .elementor-element.elementor-element-4d880dd>.elementor-element-populated {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 0px;
    padding: 54px 60px 60px 60px;
}

.elementor-4810 .elementor-element.elementor-element-db1effb .elementor-heading-title {
    color: #202020;
    font-size: 36px;
}

.elementor-4810 .elementor-element.elementor-element-db1effb>.elementor-widget-container {
    margin: 0px 0px 14px 0px;
}

.elementor-4810 .elementor-element.elementor-element-1325049 .elementor-spacer-inner {
    height: 80px;
}

.elementor-4810 .elementor-element.elementor-element-9f2d80d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-4810 .elementor-element.elementor-element-9f2d80d.sticky-sidebar {
    display: block;
}

.elementor-4810 .elementor-element.elementor-element-93212f2 .elementor-heading-title {
    color: #323c8d;
    font-size: 20px;
}

.elementor-4810 .elementor-element.elementor-element-93212f2>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-4810 .elementor-element.elementor-element-dfc9ca8 {
    --divider-border-style: solid;
    --divider-color: #E5E5E5;
    --divider-border-width: 1px;
}

.elementor-4810 .elementor-element.elementor-element-dfc9ca8 .elementor-divider-separator {
    width: 100%;
}

.elementor-4810 .elementor-element.elementor-element-dfc9ca8 .elementor-divider {
    padding-top: 13px;
    padding-bottom: 13px;
}

.elementor-4810 .elementor-element.elementor-element-6abcd88 .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-6abcd88.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-6abcd88 .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-6abcd88 .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-6abcd88 .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-6abcd88>.elementor-widget-container {
    margin: -3px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-c519f62 .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-c519f62.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-c519f62 .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-c519f62 .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-c519f62 .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-c519f62>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-cc84035 .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-cc84035.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-cc84035 .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-cc84035 .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-cc84035 .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-cc84035>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3 .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-8a1bbe3.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3 .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3 .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3 .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-8a1bbe3>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-940ae5f .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-940ae5f.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-940ae5f .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-940ae5f .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-940ae5f .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-940ae5f>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-47f20ed .media-wrapper .elementor-icon {
    font-size: 8px;
    transform: rotate(315deg);
    margin: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-framed .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-default .elementor-icon,
.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-bubble .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-framed .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-default .elementor-icon svg,
.elementor-4810 .elementor-element.elementor-element-47f20ed.elementor-view-bubble .elementor-icon svg {
    fill: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-47f20ed .wgl-infobox_title {
    font-size: 16px;
    margin: 3px 0px 0px 10px;
}

.elementor-4810 .elementor-element.elementor-element-47f20ed .elementor-widget-container:hover .wgl-infobox_title {
    color: var(--e-global-color-primary);
    transform: translateY(0px);
}

.elementor-4810 .elementor-element.elementor-element-47f20ed .elementor-widget-container {
    transition: 0s;
}

.elementor-4810 .elementor-element.elementor-element-47f20ed>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-d03c628 .elementor-spacer-inner {
    height: 21px;
}

.elementor-4810 .elementor-element.elementor-element-981d6cb.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4810 .elementor-element.elementor-element-981d6cb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4810 .elementor-element.elementor-element-981d6cb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
    background-image: url("../../2021/07/banner-single.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-4810 .elementor-element.elementor-element-981d6cb>.elementor-element-populated {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 80px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4810 .elementor-element.elementor-element-981d6cb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4810 .elementor-element.elementor-element-7023b01 .elementor-spacer-inner {
    height: 50px;
}

.elementor-4810 .elementor-element.elementor-element-33e0162 .wgl-logotype-container {
    text-align: center;
}

.elementor-4810 .elementor-element.elementor-element-33e0162 {
    width: 100%;
    max-width: 100%;
}

.elementor-4810 .elementor-element.elementor-element-58fe24e .elementor-spacer-inner {
    height: 22px;
}

.elementor-4810 .elementor-element.elementor-element-99f7862 {
    text-align: center;
}

.elementor-4810 .elementor-element.elementor-element-99f7862 .elementor-heading-title {
    line-height: 1.5em;
}

.elementor-4810 .elementor-element.elementor-element-99f7862>.elementor-widget-container {
    margin: 0px 20px 0px 20px;
}

.elementor-4810 .elementor-element.elementor-element-65e6df3 .elementor-spacer-inner {
    height: 9px;
}

.elementor-4810 .elementor-element.elementor-element-0d4ec1d .wgl-button {
    text-transform: uppercase;
    background-color: #323c8d;
    margin: 0px;
}

.elementor-4810 .elementor-element.elementor-element-0d4ec1d .wgl-button:hover {
    background-color: var(--e-global-color-primary);
}

.elementor-4810 .elementor-element.elementor-element-0d4ec1d .wgl-button.with-border {
    --transmax-button-margin: 0px;
}

.elementor-4810 .elementor-element.elementor-element-9535860 .elementor-spacer-inner {
    height: 26px;
}

.elementor-4810 .elementor-element.elementor-element-9535860>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: var(--e-global-color-primary);
}

body.elementor-page-4810 #main.site-main {
    z-index: 0;
}

@media(min-width:768px) {
    .elementor-4810 .elementor-element.elementor-element-37287eb {
        width: 75%;
    }

    .elementor-4810 .elementor-element.elementor-element-9f2d80d {
        width: 25%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-4810 .elementor-element.elementor-element-37287eb {
        width: 100%;
    }

    .elementor-4810 .elementor-element.elementor-element-9f2d80d {
        width: 100%;
    }
}

@media(min-width:1201px) {

    .elementor-4810 .elementor-element.elementor-element-981d6cb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-4810 .elementor-element.elementor-element-981d6cb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:1200px) {
    .elementor-4810 .elementor-element.elementor-element-436bdff .wgl-infobox_title {
        font-size: 20px;
        margin: 0px 13px 5px 13px;
    }

    .elementor-4810 .elementor-element.elementor-element-436bdff .wgl-infobox_content {
        font-size: 16px;
    }

    .elementor-4810 .elementor-element.elementor-element-436bdff>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-4810 .elementor-element.elementor-element-b6b0371 .wgl-infobox_title {
        font-size: 20px;
    }

    .elementor-4810 .elementor-element.elementor-element-b6b0371 .wgl-infobox_content {
        font-size: 16px;
    }

    .elementor-4810 .elementor-element.elementor-element-b6b0371>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-4810 .elementor-element.elementor-element-82cf1be .wgl-infobox_title {
        font-size: 20px;
        margin: 0px 7px 5px 7px;
    }

    .elementor-4810 .elementor-element.elementor-element-82cf1be .wgl-infobox_content {
        font-size: 16px;
    }

    .elementor-4810 .elementor-element.elementor-element-82cf1be>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-4810 .elementor-element.elementor-element-e22e9da .elementor-spacer-inner {
        height: 30px;
    }

    .elementor-4810 .elementor-element.elementor-element-4d880dd>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-4810 .elementor-element.elementor-element-9f2d80d>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
    }
}

@media(max-width:767px) {
    .elementor-4810 .elementor-element.elementor-element-f28ab0e .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-4810 .elementor-element.elementor-element-0dd4450>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-436bdff .wgl-infobox_title {
        margin: 0px 0px 8px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-3d9cea7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-b6b0371 .wgl-infobox_title {
        margin: 0px 0px 8px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-b0096b2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-82cf1be .wgl-infobox_title {
        margin: 0px 0px 8px 0px;
    }

    .elementor-4810 .elementor-element.elementor-element-4d880dd>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-4810 .elementor-element.elementor-element-db1effb .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-4810 .elementor-element.elementor-element-1325049 .elementor-spacer-inner {
        height: 70px;
    }
}