.elementor-2603 .elementor-element.elementor-element-38011c9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2603 .elementor-element.elementor-element-38011c9:not(.elementor-motion-effects-element-type-background),
.elementor-2603 .elementor-element.elementor-element-38011c9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2603 .elementor-element.elementor-element-38011c9 {
    box-shadow: 8px 9px 38px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2603 .elementor-element.elementor-element-38011c9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2603 .elementor-element.elementor-element-aeafdac .wgl-logotype-container {
    text-align: left;
}

.elementor-2603 .elementor-element.elementor-element-5a4b5b6 {
    display: inline-flex;
    width: auto;
    flex-grow: 1;
    justify-content: center;
}

.elementor-2603 .elementor-element.elementor-element-5a4b5b6 .primary-nav {
    height: 80px;
}

.elementor-2603 .elementor-element.elementor-element-5a4b5b6 .primary-nav>ul>li>a {
    color: #202020;
}

.elementor-2603 .elementor-element.elementor-element-5a4b5b6 .primary-nav>ul>li:hover>a {
    color: #e41c3d;
}

.elementor-2603 .elementor-element.elementor-element-5a4b5b6 .primary-nav>ul>li[class*="current"]>a {
    color: #e41c3d;
}

.elementor-2603 .elementor-element.elementor-element-42dee77.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2603 .elementor-element.elementor-element-68b69f3 .wgl-search {
    justify-content: center;
}

.elementor-2603 .elementor-element.elementor-element-68b69f3 .header_search-button {
    color: #202020;
}

.elementor-2603 .elementor-element.elementor-element-68b69f3 .search_standard .header_search-close {
    color: #202020;
}