.elementor-2318 .elementor-element.elementor-element-23164c2 {
	padding: 65px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-2318 .elementor-element.elementor-element-1e1c8e0.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2318 .elementor-element.elementor-element-1e1c8e0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2318 .elementor-element.elementor-element-647be97 .wgl-button {
	text-transform: uppercase;
	margin: 0px;
}

.elementor-2318 .elementor-element.elementor-element-647be97 .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-2318 .elementor-element.elementor-element-e113097 .elementor-spacer-inner {
	height: 45px;
}

.elementor-2318 .elementor-element.elementor-element-dc07e12 .elementor-repeater-item-d393b74 {
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-direction: normal;
	top: -27%;
	left: 73%;
	z-index: -1;
}

.elementor-2318 .elementor-element.elementor-element-0d0924f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 30px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-3ea1add .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
	padding: 0px 0px 0px 0px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-e9f69c6 .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-a82a2f3 .elementor-spacer-inner {
	height: 18px;
}

.elementor-2318 .elementor-element.elementor-element-f0a252c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 30px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-bf316da.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-bf316da .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-bf316da .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-3f8cc8a .elementor-spacer-inner {
	height: 18px;
}

.elementor-2318 .elementor-element.elementor-element-88a0b25>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 30px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
}

.elementor-2318 .elementor-element.elementor-element-2260212.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-2260212.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-2260212.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-2260212.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-2260212 .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-2260212 .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 38px 0px 14px 38px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-icon .elementor-icon:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817.elementor-widget-wgl-info-box.elementor-view-bubble:hover .wgl-number.elementor-icon .number:after {
	background-color: #144A57;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_title {
	margin: 0px 0px 8px 40px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_title:after {
	display: block;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox .wgl-infobox_title:after {
	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .elementor-widget-container:hover .wgl-infobox_title:after {
	color: #FF7D44;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_content {
	padding: 18px 50px 15px 39px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 37px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-7ccb817 .elementor-widget-container:before {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-5a1173e .elementor-spacer-inner {
	height: 18px;
}

.elementor-2318 .elementor-element.elementor-element-dc07e12 .elementor-repeater-item-9f3c0c1 {
	top: 30%;
	left: 94%;
	z-index: -1;
}

.elementor-2318 .elementor-element.elementor-element-dc07e12 .elementor-repeater-item-8ba14f4 {
	top: 80%;
	left: 87%;
	z-index: -1;
}

.elementor-2318 .elementor-element.elementor-element-0a906da .elementor-spacer-inner {
	height: 73px;
}

.elementor-2318 .elementor-element.elementor-element-c3bef9c:not(.elementor-motion-effects-element-type-background),
.elementor-2318 .elementor-element.elementor-element-c3bef9c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #323c8d;
}

.elementor-2318 .elementor-element.elementor-element-c3bef9c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 75px 0px 28px 0px;
}

.elementor-2318 .elementor-element.elementor-element-c3bef9c>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #2F8195;
	border-radius: 50% 50% 50% 50%;
}

.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__percent {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__sub_title {
	text-transform: uppercase;
	margin: 17px 0px 0px 25px;
	color: #7499A1;
}

.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__title {
	margin: -1px 0px 0px 24px;
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__description {
	color: #FFFFFF;
	margin: 5px 0px 0px 24px;
}

.elementor-2318 .elementor-element.elementor-element-b8254ac .elementor-spacer-inner {
	height: 27px;
}

.elementor-2318 .elementor-element.elementor-element-d549f7d .chart {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #2F8195;
	border-radius: 50% 50% 50% 50%;
}

.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__percent {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__sub_title {
	text-transform: uppercase;
	margin: 17px 0px 0px 25px;
	color: #7499A1;
}

.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__title {
	margin: -1px 0px 0px 24px;
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__description {
	color: #FFFFFF;
	margin: 5px 0px 0px 24px;
}

.elementor-2318 .elementor-element.elementor-element-16413c8 .elementor-spacer-inner {
	height: 27px;
}

.elementor-2318 .elementor-element.elementor-element-785cf3e .chart {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #2F8195;
	border-radius: 50% 50% 50% 50%;
}

.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__percent {
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__sub_title {
	text-transform: uppercase;
	margin: 17px 0px 0px 25px;
	color: #7499A1;
}

.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__title {
	margin: -1px 0px 0px 24px;
	color: #FFFFFF;
}

.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__description {
	color: #FFFFFF;
	margin: 5px 0px 0px 24px;
}

.elementor-2318 .elementor-element.elementor-element-c073e26 .elementor-spacer-inner {
	height: 27px;
}

.elementor-2318 .elementor-element.elementor-element-f93aa50:not(.elementor-motion-effects-element-type-background),
.elementor-2318 .elementor-element.elementor-element-f93aa50>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/services-bg-1.920a2d3ff416.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-2318 .elementor-element.elementor-element-f93aa50 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-f93aa50>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-6981823.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-2318 .elementor-element.elementor-element-6981823.animation_toggling .wgl-service_content,
.elementor-2318 .elementor-element.elementor-element-6981823.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button i {
	font-size: 24px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button i,
.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button,
.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button i {
	border-radius: 30px;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button.icon-read-more:hover i,
.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-6981823>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-2318 .elementor-element.elementor-element-781f75a.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-2318 .elementor-element.elementor-element-781f75a.animation_toggling .wgl-service_content,
.elementor-2318 .elementor-element.elementor-element-781f75a.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button i {
	font-size: 24px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button i,
.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_subtitle {
	margin: 0px 38px 5px 46px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button,
.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button i {
	border-radius: 30px;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button.icon-read-more:hover i,
.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-781f75a>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab.animation_toggling .wgl-service_content,
.elementor-2318 .elementor-element.elementor-element-d1c08ab.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button i {
	font-size: 24px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button i,
.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button,
.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button i {
	border-radius: 30px;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button.icon-read-more:hover i,
.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-d1c08ab>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-2318 .elementor-element.elementor-element-a68048f.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-2318 .elementor-element.elementor-element-a68048f.animation_toggling .wgl-service_content,
.elementor-2318 .elementor-element.elementor-element-a68048f.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button i {
	font-size: 24px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button i,
.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button,
.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button i {
	border-radius: 30px;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button.icon-read-more:hover i,
.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-8bf63e3 .elementor-spacer-inner {
	height: 100px;
}

.elementor-2318 .elementor-element.elementor-element-587c90e.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2318 .elementor-element.elementor-element-9025f6b {
	text-align: center;
	font-size: 18px;
	width: 730px;
	max-width: 730px;
}

.elementor-2318 .elementor-element.elementor-element-b2312c3 .elementor-spacer-inner {
	height: 38px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 figure.wgl-image-box_img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 30px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-image-box_img {
	width: 100%;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-image-box_img img {
	transition-duration: 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-2015576.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-2015576.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-infobox_title {
	font-weight: 700;
	margin: -35px 30px 8px 0px;
	padding: 15px 10px 19px 25px;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	border-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .elementor-widget-container:hover .wgl-infobox_title {
	transform: translateY(-10px);
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-infobox_content {
	font-size: 18px;
	line-height: 32px;
	padding: 11px 20px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-2015576 .elementor-widget-container {
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-2015576>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f figure.wgl-image-box_img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 30px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-image-box_img {
	width: 100%;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-image-box_img img {
	transition-duration: 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-infobox_title {
	font-weight: 700;
	margin: -35px 30px 8px 0px;
	padding: 15px 10px 19px 25px;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	border-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .elementor-widget-container:hover .wgl-infobox_title {
	transform: translateY(-10px);
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-infobox_content {
	font-size: 18px;
	line-height: 32px;
	padding: 11px 20px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f .elementor-widget-container {
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-e91c68f>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 figure.wgl-image-box_img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 30px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-image-box_img {
	width: 100%;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-image-box_img img {
	transition-duration: 0.3s;
}

.elementor-2318 .elementor-element.elementor-element-37a1121.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 40px;
	height: 40px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-infobox_title {
	font-weight: 700;
	margin: -35px 30px 8px 0px;
	padding: 15px 10px 19px 25px;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	border-color: #e41c3d;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .elementor-widget-container:hover .wgl-infobox_title {
	transform: translateY(-10px);
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-infobox_content {
	font-size: 18px;
	line-height: 32px;
	padding: 11px 20px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 11px 30px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-2318 .elementor-element.elementor-element-37a1121 .elementor-widget-container {
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-37a1121>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-2318 .elementor-element.elementor-element-88301c5>.elementor-container {
	max-width: 1300px;
}

.elementor-2318 .elementor-element.elementor-element-4446fb7 .elementor-spacer-inner {
	height: 79px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-7493f91.clients_image img:not(.lazyload),
.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-7493f91.clients_image img.lazyloaded {
	width: 144px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-6b49611.clients_image img:not(.lazyload),
.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-6b49611.clients_image img.lazyloaded {
	width: 66px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-6c28c53.clients_image img:not(.lazyload),
.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-6c28c53.clients_image img.lazyloaded {
	width: 132px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-2bd04ca.clients_image img:not(.lazyload),
.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-2bd04ca.clients_image img.lazyloaded {
	width: 91px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-e640030.clients_image img:not(.lazyload),
.elementor-2318 .elementor-element.elementor-element-4ec8bca .elementor-repeater-item-e640030.clients_image img.lazyloaded {
	width: 148px;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .clients_image {
	justify-content: center;
	transition: 0.4s;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .wgl-clients {
	align-items: center;
}

.elementor-2318 .elementor-element.elementor-element-4ec8bca .swiper-wrapper {
	align-items: center;
	display: flex;
}

.elementor-2318 .elementor-element.elementor-element-57e4fd1 .elementor-spacer-inner {
	height: 60px;
}

body.elementor-page-2318 #main.site-main {
	z-index: 0;
}

@media(min-width:768px) {
	.elementor-2318 .elementor-element.elementor-element-df415da {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-1e1c8e0 {
		width: 50%;
	}
}

@media(max-width:1200px) and (min-width:768px) {
	.elementor-2318 .elementor-element.elementor-element-df415da {
		width: 65%;
	}

	.elementor-2318 .elementor-element.elementor-element-1e1c8e0 {
		width: 35%;
	}

	.elementor-2318 .elementor-element.elementor-element-0d0924f {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-f0a252c {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-88a0b25 {
		width: 100%;
	}

	.elementor-2318 .elementor-element.elementor-element-7e98778 {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-85291b3 {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-8aef8ea {
		width: 100%;
	}

	.elementor-2318 .elementor-element.elementor-element-8e4002f {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-c461164 {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-35021ef {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-0939d9d {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-a4ad52e {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-b14c746 {
		width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-d4746f1 {
		width: 100%;
	}
}

@media(max-width:1200px) {
	.elementor-2318 .elementor-element.elementor-element-23164c2 {
		padding: 30px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-c194847 .dblh__title-wrapper {
		font-size: 34px;
	}

	.elementor-2318 .elementor-element.elementor-element-a82a2f3 .elementor-spacer-inner {
		height: 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-3f8cc8a .elementor-spacer-inner {
		height: 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212>.elementor-widget-container {
		margin: 0px 15px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 {
		width: 50%;
		max-width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817>.elementor-widget-container {
		margin: 0px 0px 0px 15px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 {
		width: 50%;
		max-width: 50%;
	}

	.elementor-2318 .elementor-element.elementor-element-0a906da .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-8aef8ea>.elementor-element-populated {
		margin: 0% 25% 0% 25%;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_title {
		margin: 0px 0px 10px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_subtitle {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_description {
		margin: 0px 20px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button-wrapper {
		margin: 0px 0px 30px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823>.elementor-widget-container {
		border-width: 0px 1px 1px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_title {
		margin: 0px 0px 10px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_subtitle {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_description {
		margin: 0px 20px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button-wrapper {
		margin: 0px 0px 30px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_title {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_subtitle {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_description {
		margin: 10px 20px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button-wrapper {
		margin: 0px 0px 30px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_title {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_subtitle {
		margin: 0px 0px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_description {
		margin: 10px 20px 0px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button-wrapper {
		margin: 0px 0px 30px 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-8bf63e3 .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-2318 .elementor-element.elementor-element-d4746f1>.elementor-element-populated {
		margin: 3% 25% 0% 25%;
	}

	.elementor-2318 .elementor-element.elementor-element-4446fb7 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-57e4fd1 .elementor-spacer-inner {
		height: 10px;
	}
}

@media(max-width:767px) {
	.elementor-2318 .elementor-element.elementor-element-c194847 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-647be97>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-3ea1add .media-wrapper .elementor-icon {
		margin: 25px 0px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_title {
		margin: 0px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-3ea1add .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-e9f69c6 .media-wrapper .elementor-icon {
		margin: 25px 0px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_title {
		margin: 0px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-e9f69c6 .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .media-wrapper .elementor-icon {
		margin: 25px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_title {
		margin: 10px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-9b4c1f8 .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-bf316da .media-wrapper .elementor-icon {
		margin: 25px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_title {
		margin: 10px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-bf316da .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 .media-wrapper .elementor-icon {
		margin: 25px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_title {
		margin: 10px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-2260212 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 .media-wrapper .elementor-icon {
		margin: 25px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_title {
		margin: 10px 0px 0px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox_content {
		padding: 15px 20px 10px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 .wgl-infobox-button_wrapper {
		padding: 0px 0px 25px 25px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-7ccb817 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-2318 .elementor-element.elementor-element-0a906da .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a0e5183 .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d549f7d .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-8aef8ea>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__sub_title {
		margin: 17px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__title {
		margin: -1px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-785cf3e .chart__description {
		margin: 5px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .elementor-widget-container {
		padding: 25px 0px 70px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_title {
		margin: 0px 0px 20px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_subtitle {
		margin: 0px 0px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_description {
		margin: 0px 20px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823 .wgl-service_button-wrapper {
		margin: 0px 0px 25px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-6981823>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .elementor-widget-container {
		padding: 25px 0px 70px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_title {
		margin: 0px 0px 20px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_subtitle {
		margin: 0px 0px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_description {
		margin: 0px 20px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a .wgl-service_button-wrapper {
		margin: 0px 0px 25px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-781f75a>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .elementor-widget-container {
		padding: 25px 0px 70px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_title {
		margin: 0px 0px 20px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_subtitle {
		margin: 0px 0px 0px 17px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_description {
		margin: 0px 20px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab .wgl-service_button-wrapper {
		margin: 0px 0px 25px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-d1c08ab>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .elementor-widget-container {
		padding: 25px 0px 70px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_title {
		margin: 0px 0px 20px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_subtitle {
		margin: 0px 0px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_description {
		margin: 0px 20px 0px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-a68048f .wgl-service_button-wrapper {
		margin: 0px 0px 25px 20px;
	}

	.elementor-2318 .elementor-element.elementor-element-97301c8 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-2318 .elementor-element.elementor-element-2015576>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-e91c68f>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-d4746f1>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2318 .elementor-element.elementor-element-4446fb7 .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-2318 .elementor-element.elementor-element-57e4fd1 .elementor-spacer-inner {
		height: 30px;
	}
}