.elementor-2457 .elementor-element.elementor-element-7ff9713.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2457 .elementor-element.elementor-element-0d41d52 .elementor-spacer-inner {
	height: 28px;
}

.elementor-2457 .elementor-element.elementor-element-869826e {
	text-align: center;
	font-size: 18px;
	width: 730px;
	max-width: 730px;
}

.elementor-2457 .elementor-element.elementor-element-bcfdd76 .elementor-spacer-inner {
	height: 39px;
}

.elementor-2457 .elementor-element.elementor-element-b52ef8d .wgl_module_team {
	--transmax-team-grid-gap: 30px;
}

.elementor-2457 .elementor-element.elementor-element-7dd81dd>.elementor-container {
	max-width: 1310px;
}

.elementor-2457 .elementor-element.elementor-element-efae1de .elementor-spacer-inner {
	height: 70px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-7493f91.clients_image img:not(.lazyload),
.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-7493f91.clients_image img.lazyloaded {
	width: 144px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-6b49611.clients_image img:not(.lazyload),
.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-6b49611.clients_image img.lazyloaded {
	width: 66px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-6c28c53.clients_image img:not(.lazyload),
.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-6c28c53.clients_image img.lazyloaded {
	width: 132px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-2bd04ca.clients_image img:not(.lazyload),
.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-2bd04ca.clients_image img.lazyloaded {
	width: 91px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-e640030.clients_image img:not(.lazyload),
.elementor-2457 .elementor-element.elementor-element-305b157 .elementor-repeater-item-e640030.clients_image img.lazyloaded {
	width: 148px;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .clients_image {
	justify-content: center;
	transition: 0.4s;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .wgl-clients {
	align-items: center;
}

.elementor-2457 .elementor-element.elementor-element-305b157 .swiper-wrapper {
	align-items: center;
	display: flex;
}

.elementor-2457 .elementor-element.elementor-element-50341f1 .elementor-spacer-inner {
	height: 98px;
}

.elementor-2457 .elementor-element.elementor-element-b872f65:not(.elementor-motion-effects-element-type-background),
.elementor-2457 .elementor-element.elementor-element-b872f65>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #323c8d;
	background-image: url("../../2021/06/bg-section.f25e5104270d.png");
}

.elementor-2457 .elementor-element.elementor-element-b872f65 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: -40px;
}

.elementor-2457 .elementor-element.elementor-element-b872f65>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2457 .elementor-element.elementor-element-c032b17.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2457 .elementor-element.elementor-element-c032b17.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2457 .elementor-element.elementor-element-c032b17.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2457 .elementor-element.elementor-element-da8cbb4 .elementor-spacer-inner {
	height: 110px;
}

.elementor-2457 .elementor-element.elementor-element-96826f1 {
	text-align: center;
	width: 600px;
	max-width: 600px;
}

.elementor-2457 .elementor-element.elementor-element-96826f1 .elementor-heading-title {
	color: #FFFFFF;
	line-height: 1.5em;
}

.elementor-2457 .elementor-element.elementor-element-96826f1>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-2457 .elementor-element.elementor-element-7edb086 {
	text-align: center;
	color: #BFD3D7;
	font-size: 18px;
	width: 600px;
	max-width: 600px;
}

.elementor-2457 .elementor-element.elementor-element-38b633a .elementor-spacer-inner {
	height: 36px;
}

.elementor-2457 .elementor-element.elementor-element-e242bb4 .wgl-button {
	text-transform: uppercase;
	margin: 0px;
}

.elementor-2457 .elementor-element.elementor-element-e242bb4 .wgl-button:hover {
	color: #565ea7;
	background-color: #F5F5F5;
}

.elementor-2457 .elementor-element.elementor-element-e242bb4 .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-2457 .elementor-element.elementor-element-e242bb4>.elementor-widget-container {
	margin: 0px 20px 0px 0px;
}

.elementor-2457 .elementor-element.elementor-element-e242bb4 {
	width: auto;
	max-width: auto;
}

.elementor-2457 .elementor-element.elementor-element-990335d .align-icon-right .media-wrapper {
	margin-left: 15px;
}

.elementor-2457 .elementor-element.elementor-element-990335d .align-icon-left .media-wrapper {
	margin-right: 15px;
}

.elementor-2457 .elementor-element.elementor-element-990335d .wgl-button {
	font-size: 18px;
	font-weight: 400;
	background-color: #4D141400;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2457 .elementor-element.elementor-element-990335d .wgl-button:hover {
	color: var(--e-global-color-primary);
}

.elementor-2457 .elementor-element.elementor-element-990335d .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-2457 .elementor-element.elementor-element-990335d .media-wrapper {
	margin: -2px 0px 0px 0px;
}

.elementor-2457 .elementor-element.elementor-element-990335d .elementor-icon {
	color: var(--e-global-color-primary);
	font-size: 22px;
}

.elementor-2457 .elementor-element.elementor-element-990335d>.elementor-widget-container {
	margin: 7px 0px 0px 20px;
}

.elementor-2457 .elementor-element.elementor-element-990335d {
	width: auto;
	max-width: auto;
}

.elementor-2457 .elementor-element.elementor-element-06c39d1 .elementor-spacer-inner {
	height: 120px;
}

body.elementor-page-2457 #main.site-main {
	z-index: 0;
}

@media(max-width:1200px) {
	.elementor-2457 .elementor-element.elementor-element-efae1de .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-2457 .elementor-element.elementor-element-50341f1 .elementor-spacer-inner {
		height: 40px;
	}
}

@media(max-width:767px) {
	.elementor-2457 .elementor-element.elementor-element-0d41d52 .elementor-spacer-inner {
		height: 0px;
	}

	.elementor-2457 .elementor-element.elementor-element-8be22d4 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-2457 .elementor-element.elementor-element-83aba5d>.elementor-element-populated {
		padding: 0px 35px 0px 15px;
	}

	.elementor-2457 .elementor-element.elementor-element-efae1de .elementor-spacer-inner {
		height: 20px;
	}

	.elementor-2457 .elementor-element.elementor-element-50341f1 .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-2457 .elementor-element.elementor-element-da8cbb4 .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-2457 .elementor-element.elementor-element-96826f1 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-2457 .elementor-element.elementor-element-7edb086 {
		font-size: 16px;
	}

	.elementor-2457 .elementor-element.elementor-element-e242bb4>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2457 .elementor-element.elementor-element-e242bb4 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-2457 .elementor-element.elementor-element-990335d>.elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-2457 .elementor-element.elementor-element-990335d {
		width: 100%;
		max-width: 100%;
	}

	.elementor-2457 .elementor-element.elementor-element-06c39d1 .elementor-spacer-inner {
		height: 70px;
	}
}