.elementor-2639 .elementor-element.elementor-element-4a6a04e>.elementor-container {
    min-height: 80px;
}

.elementor-2639 .elementor-element.elementor-element-4a6a04e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2639 .elementor-element.elementor-element-4a6a04e:not(.elementor-motion-effects-element-type-background),
.elementor-2639 .elementor-element.elementor-element-4a6a04e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2639 .elementor-element.elementor-element-4a6a04e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 35px 0px 35px;
}

.elementor-2639 .elementor-element.elementor-element-4a6a04e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2639 .elementor-element.elementor-element-eec9b1c .wgl-logotype-container {
    text-align: left;
}

.elementor-2639 .elementor-element.elementor-element-847e988.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd {
    display: inline-flex;
    width: auto;
    flex-grow: 1;
    justify-content: center;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav {
    height: 100px;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav>ul>li>a {
    color: #202020;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav>ul>li:hover>a {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav>ul>li:hover>a>.menu-item__plus {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav>ul>li[class*="current"]>a {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd .primary-nav>ul>li[class*="current"]:not(:hover)>a>.menu-item__plus {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-89ccbdd>.elementor-widget-container {
    margin: 0px 0px 0px -26px;
}

.elementor-2639 .elementor-element.elementor-element-d356c18.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2639 .elementor-element.elementor-element-f727f13 .wgl-search {
    justify-content: center;
}

.elementor-2639 .elementor-element.elementor-element-f727f13 .header_search-button {
    color: #202020;
}

.elementor-2639 .elementor-element.elementor-element-f727f13 .wgl-search:hover .header_search-button {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-f727f13 .search_standard .header_search-close {
    color: #202020;
}

.elementor-2639 .elementor-element.elementor-element-f727f13 .search_standard .header_search-close:hover {
    color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-f727f13>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-2639 .elementor-element.elementor-element-34cdc97 .wgl-button {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #323c8d;
    margin: 0px;
}

.elementor-2639 .elementor-element.elementor-element-34cdc97 .wgl-button:hover {
    background-color: #FF7D44;
}

.elementor-2639 .elementor-element.elementor-element-34cdc97 .wgl-button.with-border {
    --transmax-button-margin: 0px;
}

.elementor-2639 .elementor-element.elementor-element-34cdc97 {
    width: auto;
    max-width: auto;
}