.elementor-394 .elementor-element.elementor-element-3870777 {
	margin-top: -40px;
	margin-bottom: 0px;
}

.elementor-394 .elementor-element.elementor-element-d46a18d {
	margin-top: -56px;
	margin-bottom: 0px;
	z-index: 2;
}

.elementor-394 .elementor-element.elementor-element-ce9d7d6>.elementor-element-populated {
	margin: 0px 0px 0px 15px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .media-wrapper .elementor-icon {
	font-size: 52px;
	margin: 41px 0px 14px 48px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 25%;
	left: 45%;
	width: 45px;
	height: 45px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 25%;
	left: 45%;
	width: 45px;
	height: 45px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_title {
	font-size: 28px;
	font-weight: 700;
	margin: 41px 0px 9px 29px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .elementor-widget-container:hover .wgl-infobox_title {
	color: #e41c3d;
	transform: translateY(0px);
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_content {
	padding: 0px 50px 10px 30px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 42px 31px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-394 .elementor-element.elementor-element-fee9c9a .elementor-widget-container {
	background-color: #FFFFFF;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-d5dcd59>.elementor-element-populated {
	margin: 0px 15px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .media-wrapper .elementor-icon {
	font-size: 42px;
	margin: 49px 0px 14px 58px;
}

.elementor-394 .elementor-element.elementor-element-d5577b9.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 15%;
	left: 32%;
	width: 45px;
	height: 45px;
	background-color: #323c8d;
}

.elementor-394 .elementor-element.elementor-element-d5577b9.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 15%;
	left: 32%;
	width: 45px;
	height: 45px;
	background-color: #323c8d;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_title {
	font-size: 28px;
	font-weight: 700;
	margin: 41px 0px 9px 29px;
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .elementor-widget-container:hover .wgl-infobox_title {
	color: #e41c3d;
	transform: translateY(0px);
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_content {
	padding: 0px 50px 10px 30px;
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox-button_wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 42px 31px;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_button {
	padding: 0px 0px 0px 0px;
	border-radius: 0% 0% 0% 0%;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_button:before {
	font-size: 20px;
}

.elementor-394 .elementor-element.elementor-element-d5577b9 .elementor-widget-container {
	background-color: #323c8d;
	background-image: url("../../2021/06/home1-service-1.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-d7b7988 .elementor-spacer-inner {
	height: 120px;
}

.elementor-394 .elementor-element.elementor-element-cfe56ea>.elementor-element-populated {
	margin: 0% 10% 0% 0%;
}

.elementor-394 .elementor-element.elementor-element-f33885f .elementor-spacer-inner {
	height: 38px;
}

.elementor-394 .elementor-element.elementor-element-a5b82a0>.elementor-widget-container {
	margin: 0px 0px -3px 0px;
}

.elementor-394 .elementor-element.elementor-element-6c0d9d0 {
	color: #202020;
	font-size: 18px;
	line-height: 32px;
}

.elementor-394 .elementor-element.elementor-element-6c0d9d0>.elementor-widget-container {
	margin: 0px 0px -24px 0px;
}

.elementor-394 .elementor-element.elementor-element-c43cd5a .wgl-button {
	text-transform: uppercase;
	color: #323c8d;
	background-color: #F5F5F5;
	margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-c43cd5a .wgl-button:hover {
	color: #FFFFFF;
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-c43cd5a .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-1f37bd5>.elementor-widget-container {
	margin: 0px -147px 0px -36px;
}

.elementor-394 .elementor-element.elementor-element-d725013 .elementor-spacer-inner {
	height: 120px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-7493f91.clients_image img:not(.lazyload),
.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-7493f91.clients_image img.lazyloaded {
	width: 144px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-6b49611.clients_image img:not(.lazyload),
.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-6b49611.clients_image img.lazyloaded {
	width: 66px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-6c28c53.clients_image img:not(.lazyload),
.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-6c28c53.clients_image img.lazyloaded {
	width: 132px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-2bd04ca.clients_image img:not(.lazyload),
.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-2bd04ca.clients_image img.lazyloaded {
	width: 91px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-e640030.clients_image img:not(.lazyload),
.elementor-394 .elementor-element.elementor-element-4ea388f .elementor-repeater-item-e640030.clients_image img.lazyloaded {
	width: 148px;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .clients_image {
	justify-content: center;
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .wgl-clients {
	align-items: center;
}

.elementor-394 .elementor-element.elementor-element-4ea388f .swiper-wrapper {
	align-items: center;
	display: flex;
}

.elementor-394 .elementor-element.elementor-element-b6996c5 .elementor-spacer-inner {
	height: 120px;
}

.elementor-394 .elementor-element.elementor-element-a83c502:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-a83c502>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F5F5F5;
}

.elementor-394 .elementor-element.elementor-element-a83c502 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-394 .elementor-element.elementor-element-a83c502>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-a83c502 .elementor-repeater-item-e10bbc5 {
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-direction: normal;
	top: -34%;
	left: 74%;
	z-index: 0;
}

.elementor-394 .elementor-element.elementor-element-85becb0>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-04fb145 .elementor-spacer-inner {
	height: 100px;
}

.elementor-394 .elementor-element.elementor-element-45342e5 .dblh__divider {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-45342e5>.elementor-widget-container {
	margin: 0px 0px -4px 0px;
}

.elementor-394 .elementor-element.elementor-element-b3b012a {
	font-size: 18px;
	line-height: 32px;
}

.elementor-394 .elementor-element.elementor-element-b3b012a>.elementor-widget-container {
	margin: 0% 5% 0% 0%;
}

.elementor-394 .elementor-element.elementor-element-9255d4c .wgl-button {
	text-transform: uppercase;
	background-color: #323c8d;
	margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-9255d4c .wgl-button:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-9255d4c .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-9255d4c>.elementor-widget-container {
	margin: 11px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-3073356 .elementor-spacer-inner {
	height: 20px;
}

.elementor-394 .elementor-element.elementor-element-b6ecc74 {
	z-index: 5;
}

.elementor-394 .elementor-element.elementor-element-351d04f>.elementor-element-populated {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .media-wrapper .elementor-icon {
	font-size: 53px;
	margin: 42px 0px 3px 40px;
}

.elementor-394 .elementor-element.elementor-element-77471c5.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-77471c5.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .wgl-infobox_title {
	font-weight: 700;
	margin: 0px 0px 11px 38px;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-394 .elementor-element.elementor-element-77471c5 .wgl-infobox_content {
	padding: 0px 50px 20px 39px;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .elementor-widget-container {
	background-color: transparent;
	background-image: linear-gradient(180deg, #FFFFFF 99.2%, #e41c3d 0%);
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .elementor-widget-container:before {
	background-image: url("../../2021/06/service-bg-1.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-77471c5 .elementor-widget-container:hover {
	border-style: solid;
	border-color: #FF7D4400;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-394 .elementor-element.elementor-element-8aded3f>.elementor-element-populated {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-c433595 .media-wrapper .elementor-icon {
	font-size: 44px;
	margin: 42px 0px 13px 40px;
}

.elementor-394 .elementor-element.elementor-element-c433595.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-c433595.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-c433595 .wgl-infobox_title {
	font-weight: 700;
	margin: 0px 0px 11px 38px;
}

.elementor-394 .elementor-element.elementor-element-c433595 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-394 .elementor-element.elementor-element-c433595 .wgl-infobox_content {
	padding: 0px 40px 20px 39px;
}

.elementor-394 .elementor-element.elementor-element-c433595 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-c433595 .elementor-widget-container {
	background-color: transparent;
	background-image: linear-gradient(180deg, #FFFFFF 99.2%, #e41c3d 0%);
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-c433595 .elementor-widget-container:before {
	background-image: url("../../2021/08/trucks-parked-lined-up.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-c433595 .elementor-widget-container:hover {
	border-style: solid;
	border-color: #FF7D4400;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-394 .elementor-element.elementor-element-42c3d7d>.elementor-element-populated {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .media-wrapper .elementor-icon {
	font-size: 48px;
	margin: 42px 0px 9px 28px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
	top: 24%;
	left: 50%;
	width: 0px;
	height: 0px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .wgl-infobox_title {
	font-weight: 700;
	margin: 0px 0px 11px 38px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .elementor-widget-container:hover .wgl-infobox_title {
	color: #FFFFFF;
	transform: translateY(0px);
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .wgl-infobox_content {
	padding: 0px 40px 20px 39px;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .elementor-widget-container:hover .wgl-infobox_content {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .elementor-widget-container {
	background-color: transparent;
	background-image: linear-gradient(180deg, #FFFFFF 99.2%, #e41c3d 0%);
	box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .elementor-widget-container:before {
	background-image: url("../../2021/08/trucks-parked-lined-up-3.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-23bfd21 .elementor-widget-container:hover {
	border-style: solid;
	border-color: #FF7D4400;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-394 .elementor-element.elementor-element-8a9a3da .elementor-spacer-inner {
	height: 90px;
}

.elementor-394 .elementor-element.elementor-element-a83c502 .elementor-repeater-item-bcffd3a {
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-direction: normal;
	top: 62%;
	left: 88%;
	z-index: 0;
}

.elementor-394 .elementor-element.elementor-element-9ed938e:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-9ed938e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/services-bg-1.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-9ed938e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-394 .elementor-element.elementor-element-9ed938e>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-9ed938e .elementor-repeater-item-7ece310 {
	top: 0%;
	left: 0%;
	z-index: -1;
}

.elementor-394 .elementor-element.elementor-element-34eb82d.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-394 .elementor-element.elementor-element-34eb82d.animation_toggling .wgl-service_content,
.elementor-394 .elementor-element.elementor-element-34eb82d.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button i {
	font-size: 24px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button i,
.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button,
.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button i {
	border-radius: 30px;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button.icon-read-more:hover i,
.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-34eb82d>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8.animation_toggling .wgl-service_content,
.elementor-394 .elementor-element.elementor-element-dd4dbf8.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button i {
	font-size: 24px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button i,
.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .elementor-widget-container:before {
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_subtitle {
	margin: 0px 38px 5px 46px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button,
.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button i {
	border-radius: 30px;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button.icon-read-more:hover i,
.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-dd4dbf8>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-394 .elementor-element.elementor-element-926a2a8.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-394 .elementor-element.elementor-element-926a2a8.animation_toggling .wgl-service_content,
.elementor-394 .elementor-element.elementor-element-926a2a8.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button i {
	font-size: 24px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button i,
.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button,
.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button i {
	border-radius: 30px;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button.icon-read-more:hover i,
.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-926a2a8>.elementor-widget-container {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF4D;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8.animation_toggling .wgl-service_content {
	transform: translateY(53%);
}

.elementor-394 .elementor-element.elementor-element-a47b0d8.animation_toggling .wgl-service_content,
.elementor-394 .elementor-element.elementor-element-a47b0d8.animation_toggling .wgl-service_count {
	transition-duration: 0.6s;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button-wrapper {
	text-align: left;
	margin: 0px 0px 50px 50px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button i {
	font-size: 24px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button i,
.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .elementor-widget-container {
	padding: 380px 0px 109px 0px;
	background-color: #FFFFFF00;
	transition: 0.4s;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .elementor-widget-container:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_title {
	margin: 0px 38px 20px 48px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_content-wrap:after {
	display: block;
	margin: 25px 0px 0px 0px;
	width: 0%;
	height: 1px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_title .service_title-2 {
	top: -19px;
	left: -6px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_subtitle {
	margin: 0px 38px 5px 48px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_description {
	font-size: 18px;
	margin: 0px 48px 0px 48px;
	color: #ffffff;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button,
.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button i {
	border-radius: 30px;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more i,
.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.icon-read-more span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_link:hover~.wgl-service_button-wrapper .wgl-service_button.button-read-more {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button.icon-read-more:hover i,
.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button.icon-read-more:hover span {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_button.button-read-more:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-3d6e220 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 120px 0px 120px 0px;
}

.elementor-394 .elementor-element.elementor-element-3d6e220:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-3d6e220>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #323c8d;
}

.elementor-394 .elementor-element.elementor-element-3d6e220>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-3d6e220 .elementor-repeater-item-d15b181 {
	top: 36.6%;
	left: 86.6%;
	z-index: 1;
}

.elementor-394 .elementor-element.elementor-element-ae1049e {
	z-index: 2;
}

.elementor-394 .elementor-element.elementor-element-cc28d5f .elementor-spacer-inner {
	height: 42px;
}

.elementor-394 .elementor-element.elementor-element-1ac5733 .dblh__title-1 {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-1ac5733 .dblh__divider {
	color: #323c8d;
}

.elementor-394 .elementor-element.elementor-element-1ac5733>.elementor-widget-container {
	margin: 0px 0px -4px 0px;
}

.elementor-394 .elementor-element.elementor-element-c54869e {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 32px;
}

.elementor-394 .elementor-element.elementor-element-c54869e>.elementor-widget-container {
	margin: 0% 7% 0% 0%;
}

.elementor-394 .elementor-element.elementor-element-70a0fbb:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-70a0fbb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-70a0fbb {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-394 .elementor-element.elementor-element-70a0fbb>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-3d3b632 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
}

.elementor-394 .elementor-element.elementor-element-3d3b632>.elementor-widget-container {
	margin: 0px 0px -20px 0px;
	padding: 40px 0px 40px 60px;
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-6b68a85 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
}

.elementor-394 .elementor-element.elementor-element-6b68a85>.elementor-widget-container {
	margin: 0px -80px -20px 0px;
	padding: 40px 40px 40px 0px;
	background-color: #e41c3d;
}

body:not(.rtl) .elementor-394 .elementor-element.elementor-element-4790164 {
	right: -205px;
}

body.rtl .elementor-394 .elementor-element.elementor-element-4790164 {
	left: -205px;
}

.elementor-394 .elementor-element.elementor-element-4790164 {
	top: 0px;
}

.elementor-394 .elementor-element.elementor-element-2c1eff7 {
	z-index: 1;
}

.elementor-394 .elementor-element.elementor-element-ca83ca2>.elementor-widget-container {
	margin: 0px -4px 0px -30px;
}

.elementor-394 .elementor-element.elementor-element-3d6e220 .elementor-repeater-item-ab89e25 {
	top: 6.2%;
	left: 80.7%;
	z-index: 1;
}

.elementor-394 .elementor-element.elementor-element-73486a8:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-73486a8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/home1-section-3.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-73486a8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	z-index: 20;
}

.elementor-394 .elementor-element.elementor-element-73486a8>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-408476b .elementor-spacer-inner {
	height: 129px;
}

.elementor-394 .elementor-element.elementor-element-d99b046>.elementor-widget-container {
	margin: 0px 0px -4px 0px;
}

.elementor-394 .elementor-element.elementor-element-1005cb1 {
	text-align: center;
	font-size: 18px;
	line-height: 32px;
}

.elementor-394 .elementor-element.elementor-element-1005cb1>.elementor-widget-container {
	margin: 0% 19% 0% 19%;
}

.elementor-394 .elementor-element.elementor-element-e0367a5 {
	margin-top: 12px;
	margin-bottom: 0px;
	z-index: 5;
}

.elementor-394 .elementor-element.elementor-element-c2bae1b .elementor-icon {
	font-size: 40px;
}

.elementor-394 .elementor-element.elementor-element-c2bae1b .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-394 .elementor-element.elementor-element-c2bae1b .wgl-counter_title {
	margin: 3px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-c2bae1b .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-394 .elementor-element.elementor-element-c2bae1b>.elementor-widget-container {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-2432848 .elementor-icon {
	font-size: 40px;
}

.elementor-394 .elementor-element.elementor-element-2432848 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-394 .elementor-element.elementor-element-2432848 .wgl-counter_title {
	margin: 3px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-2432848 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-394 .elementor-element.elementor-element-2432848>.elementor-widget-container {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-8071a86 .elementor-icon {
	font-size: 40px;
}

.elementor-394 .elementor-element.elementor-element-8071a86 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-394 .elementor-element.elementor-element-8071a86 .wgl-counter_title {
	margin: 3px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-8071a86 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-394 .elementor-element.elementor-element-8071a86>.elementor-widget-container {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-6ed0cc5 .elementor-icon {
	font-size: 40px;
}

.elementor-394 .elementor-element.elementor-element-6ed0cc5 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-394 .elementor-element.elementor-element-6ed0cc5 .wgl-counter_title {
	margin: 3px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-6ed0cc5 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-394 .elementor-element.elementor-element-6ed0cc5>.elementor-widget-container {
	margin: 0px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-42da478 .elementor-spacer-inner {
	height: 100px;
}

.elementor-394 .elementor-element.elementor-element-9a27af0 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 115px 0px 80px 0px;
}

.elementor-394 .elementor-element.elementor-element-9a27af0:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-9a27af0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F5F5F5;
}

.elementor-394 .elementor-element.elementor-element-9a27af0>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-9a27af0 .elementor-repeater-item-db8f7b3 {
	top: -47.3%;
	left: 73.3%;
	z-index: 0;
}

.elementor-394 .elementor-element.elementor-element-1d897a6 .elementor-spacer-inner {
	height: 50px;
}

.elementor-394 .elementor-element.elementor-element-c108d5b .dblh__title-wrapper {
	font-size: 36px;
}

.elementor-394 .elementor-element.elementor-element-c108d5b .dblh__divider {
	color: #FFFFFF;
}

.elementor-394 .elementor-element.elementor-element-d90e67f .wgl-button {
	text-transform: uppercase;
	background-color: #323c8d;
	margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-d90e67f .wgl-button:hover {
	background-color: #e41c3d;
}

.elementor-394 .elementor-element.elementor-element-d90e67f .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-0380688 .swiper-pagination {
	margin-left: 50%;
	transform: translateX(-50%);
}

.elementor-394 .elementor-element.elementor-element-0380688 .wgl-carousel .swiper-pagination {
	margin-top: 45px;
}

.elementor-394 .elementor-element.elementor-element-0380688 .testimonial__item {
	padding: 0px 0px 36px 0px;
	background-color: #FFFFFF;
	box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.elementor-394 .elementor-element.elementor-element-0380688 .item__title {
	padding: 31px 20px 10px 40px;
}

.elementor-394 .elementor-element.elementor-element-0380688 .item__quote {
	margin: 0px 20px 0px 0px;
	padding: 3px 20px 28px 40px;
	background-color: #ffffff;
}

.elementor-394 .elementor-element.elementor-element-0380688 .item__quote:after {
	transform: translate(0px, 0px);
}

.elementor-394 .elementor-element.elementor-element-0380688 .author__thumbnail img {
	border-radius: 50% 50% 50% 50%;
}

.elementor-394 .elementor-element.elementor-element-0380688 .author__position {
	margin: 6px 0px 0px 0px;
	text-transform: uppercase;
}

.elementor-394 .elementor-element.elementor-element-9a27af0 .elementor-repeater-item-d081e45 {
	top: 15.5%;
	left: 92.3%;
	z-index: 0;
}

.elementor-394 .elementor-element.elementor-element-9a27af0 .elementor-repeater-item-9d9fd73 {
	top: 73%;
	left: 87.4%;
	z-index: 0;
}

.elementor-394 .elementor-element.elementor-element-c0de219:not(.elementor-motion-effects-element-type-background),
.elementor-394 .elementor-element.elementor-element-c0de219>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/home1-section-4.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-394 .elementor-element.elementor-element-c0de219 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-394 .elementor-element.elementor-element-c0de219>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-394 .elementor-element.elementor-element-dc78a6a .elementor-spacer-inner {
	height: 144px;
}

.elementor-394 .elementor-element.elementor-element-cc7a20b {
	text-align: center;
}

.elementor-394 .elementor-element.elementor-element-cc7a20b img {
	max-width: 142px;
}

.elementor-394 .elementor-element.elementor-element-cc7a20b>.elementor-widget-container {
	margin: 0px 0px 10px 0px;
}

.elementor-394 .elementor-element.elementor-element-de7142e {
	text-align: center;
}

.elementor-394 .elementor-element.elementor-element-de7142e .elementor-heading-title {
	color: #FFFFFF;
	font-size: 60px;
	line-height: 1.2em;
}

.elementor-394 .elementor-element.elementor-element-de7142e>.elementor-widget-container {
	margin: 0% 10% 0% 10%;
}

.elementor-394 .elementor-element.elementor-element-4030ea8 .wgl-button {
	text-transform: uppercase;
	background-color: #e41c3d;
	margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-4030ea8 .wgl-button:hover {
	color: #323c8d;
	background-color: #F5F5F5;
}

.elementor-394 .elementor-element.elementor-element-4030ea8 .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-394 .elementor-element.elementor-element-4030ea8>.elementor-widget-container {
	margin: 16px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-1e56369 .elementor-spacer-inner {
	height: 124px;
}

.elementor-394 .elementor-element.elementor-element-97fe7dc {
	padding: 112px 0px 30px 0px;
}

.elementor-394 .elementor-element.elementor-element-9dde027>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-394 .elementor-element.elementor-element-7132ca4 {
	font-size: 18px;
	line-height: 32px;
}

.elementor-394 .elementor-element.elementor-element-be52951 .swiper-pagination {
	margin-left: 50%;
	transform: translateX(-50%);
}

.elementor-394 .elementor-element.elementor-element-be52951 .wgl-carousel .swiper-pagination {
	margin-top: 10px;
}

.elementor-394 .elementor-element.elementor-element-be52951 .meta-data {
	color: #323c8d;
}

body.elementor-page-394 #main.site-main {
	z-index: 0;
}

@media(min-width:768px) {
	.elementor-394 .elementor-element.elementor-element-eb6deaa {
		width: 62.807%;
	}

	.elementor-394 .elementor-element.elementor-element-e978ace {
		width: 36.587%;
	}
}

@media(max-width:1200px) {
	.elementor-394 .elementor-element.elementor-element-ce9d7d6>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-d5dcd59>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-d7b7988 .elementor-spacer-inner {
		height: 40px;
	}

	.elementor-394 .elementor-element.elementor-element-1f37bd5>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-d725013 .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-394 .elementor-element.elementor-element-b6996c5 .elementor-spacer-inner {
		height: 60px;
	}

	.elementor-394 .elementor-element.elementor-element-04fb145 .elementor-spacer-inner {
		height: 80px;
	}

	.elementor-394 .elementor-element.elementor-element-42c3d7d>.elementor-element-populated {
		margin: 0% 25% 0% 25%;
	}

	.elementor-394 .elementor-element.elementor-element-34eb82d .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-34eb82d .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-394 .elementor-element.elementor-element-34eb82d>.elementor-widget-container {
		border-width: 0px 1px 1px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-dd4dbf8 .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-dd4dbf8 .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-394 .elementor-element.elementor-element-dd4dbf8>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-926a2a8 .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-926a2a8 .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-394 .elementor-element.elementor-element-a47b0d8 .elementor-widget-container {
		padding: 60px 0px 110px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-a47b0d8 .wgl-service_title .service_title-1 {
		font-size: 28px;
	}

	.elementor-394 .elementor-element.elementor-element-6b68a85>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-ca83ca2>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-3d6e220 {
		padding: 40px 0px 90px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-408476b .elementor-spacer-inner {
		height: 80px;
	}

	.elementor-394 .elementor-element.elementor-element-1005cb1>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-42da478 .elementor-spacer-inner {
		height: 80px;
	}

	.elementor-394 .elementor-element.elementor-element-b8a90b6>.elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-cc8900b>.elementor-element-populated {
		margin: 40px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-0380688 .item__quote {
		padding: 3px 20px 28px 20px;
	}

	.elementor-394 .elementor-element.elementor-element-9a27af0 {
		padding: 40px 0px 60px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-dc78a6a .elementor-spacer-inner {
		height: 100px;
	}

	.elementor-394 .elementor-element.elementor-element-de7142e .elementor-heading-title {
		font-size: 46px;
	}

	.elementor-394 .elementor-element.elementor-element-1e56369 .elementor-spacer-inner {
		height: 100px;
	}

	.elementor-394 .elementor-element.elementor-element-6bfc5dd>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
	}
}

@media(max-width:767px) {
	.elementor-394 .elementor-element.elementor-element-fee9c9a .media-wrapper .elementor-icon {
		margin: 25px 0px 0px 20px;
	}

	.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_title {
		font-size: 20px;
		margin: 23px 0px 10px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox_content {
		font-size: 14px;
		line-height: 1.6em;
	}

	.elementor-394 .elementor-element.elementor-element-fee9c9a .wgl-infobox-button_wrapper {
		padding: 0px 0px 20px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-d5577b9 .media-wrapper .elementor-icon {
		margin: 23px 0px 0px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_title {
		font-size: 20px;
		margin: 23px 0px 10px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox_content {
		font-size: 14px;
		line-height: 1.6em;
	}

	.elementor-394 .elementor-element.elementor-element-d5577b9 .wgl-infobox-button_wrapper {
		padding: 0px 0px 20px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-f33885f .elementor-spacer-inner {
		height: 10px;
	}

	.elementor-394 .elementor-element.elementor-element-a5b82a0 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-b6996c5 .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-394 .elementor-element.elementor-element-04fb145 .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-394 .elementor-element.elementor-element-45342e5 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-9255d4c>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-42c3d7d>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-34eb82d>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-dd4dbf8>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-926a2a8>.elementor-widget-container {
		border-width: 0px 0px 1px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-1ac5733 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-3d3b632>.elementor-widget-container {
		padding: 30px 30px 20px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-6b68a85>.elementor-widget-container {
		padding: 20px 30px 10px 30px;
	}

	.elementor-394 .elementor-element.elementor-element-3d6e220 {
		padding: 30px 0px 70px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-408476b .elementor-spacer-inner {
		height: 60px;
	}

	.elementor-394 .elementor-element.elementor-element-d99b046 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-42da478 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-1d897a6 .elementor-spacer-inner {
		height: 20px;
	}

	.elementor-394 .elementor-element.elementor-element-d90e67f>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-dc78a6a .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-394 .elementor-element.elementor-element-de7142e .elementor-heading-title {
		font-size: 34px;
	}

	.elementor-394 .elementor-element.elementor-element-de7142e>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-4030ea8>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-1e56369 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-97fe7dc {
		padding: 70px 0px 0px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-9dde027 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-394 .elementor-element.elementor-element-7132ca4>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-394 .elementor-element.elementor-element-df945c6 {
		margin-top: 0px;
		margin-bottom: -40px;
	}
}

@media(max-width:1200px) and (min-width:768px) {
	.elementor-394 .elementor-element.elementor-element-ce9d7d6 {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-d5dcd59 {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-cfe56ea {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-7e9ca9f {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-351d04f {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-8aded3f {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-42c3d7d {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-6c188ae {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-21106fa {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-af1f3fc {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-475f3b9 {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-ae1049e {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-eb6deaa {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-e978ace {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-2c1eff7 {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-b80e7a9 {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-a222fdf {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-02faa7b {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-d26964c {
		width: 50%;
	}

	.elementor-394 .elementor-element.elementor-element-899e658 {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-cc8900b {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-6bfc5dd {
		width: 100%;
	}

	.elementor-394 .elementor-element.elementor-element-cc6dc86 {
		width: 100%;
	}
}