.elementor-957 .elementor-element.elementor-element-902abf2 .elementor-spacer-inner {
	height: 27px;
}

.elementor-bc-flex-widget .elementor-957 .elementor-element.elementor-element-f6f1109.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-957 .elementor-element.elementor-element-f6f1109.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-957 .elementor-element.elementor-element-0549df4 .wgl-button {
	text-transform: uppercase;
	margin: 0px;
}

.elementor-957 .elementor-element.elementor-element-0549df4 .wgl-button.with-border {
	--transmax-button-margin: 0px;
}

.elementor-957 .elementor-element.elementor-element-6caba21 .elementor-spacer-inner {
	height: 36px;
}

.elementor-957 .elementor-element.elementor-element-4040694 {
	z-index: 3;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox {
	height: 300px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_front {
	text-align: center;
	justify-content: center;
	background-image: url("../../2021/06/parcel-delivery.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back {
	text-align: center;
	justify-content: center;
	background-color: #323c8d;
	background-image: url("../../2021/06/img-element-4.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back .wgl-flipbox_content:after {
	center: 0;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_front,
.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back {
	padding: 40px 40px 15px 40px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_front .wgl-flipbox_media-wrap {
	margin: 0px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_front .elementor-icon {
	font-size: 34px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back .wgl-flipbox_title span {
	margin: 0px 0px 22px 0px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back .wgl-flipbox_content {
	margin: 14px 10px 14px 10px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_button.icon-read-more i {
	font-size: 24px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_button.icon-read-more i,
.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_button.icon-read-more span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_button.icon-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_button.button-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox {
	height: 300px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_front {
	text-align: center;
	justify-content: center;
	background-image: url("../../2021/06/man-working.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back {
	text-align: center;
	justify-content: center;
	background-color: #323c8d;
	background-image: url("../../2021/06/img-element-4.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back .wgl-flipbox_content:after {
	center: 0;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_front,
.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back {
	padding: 40px 40px 15px 40px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_front .wgl-flipbox_media-wrap {
	margin: 0px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_front .elementor-icon {
	font-size: 34px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back .wgl-flipbox_title span {
	margin: 0px 0px 22px 0px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back .wgl-flipbox_content {
	margin: 14px 10px 14px 10px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_button.icon-read-more i {
	font-size: 24px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_button.icon-read-more i,
.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_button.icon-read-more span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_button.icon-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_button.button-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox {
	height: 300px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_front {
	text-align: center;
	justify-content: center;
	background-image: url("../../2021/06/container-container.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back {
	text-align: center;
	justify-content: center;
	background-color: #323c8d;
	background-image: url("../../2021/06/img-element-4.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back .wgl-flipbox_content:after {
	center: 0;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_front,
.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back {
	padding: 40px 40px 15px 40px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_front .wgl-flipbox_media-wrap {
	margin: 0px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_front .elementor-icon {
	font-size: 34px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back .wgl-flipbox_title span {
	margin: 0px 0px 22px 0px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back .wgl-flipbox_content {
	margin: 14px 10px 14px 10px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_button.icon-read-more i {
	font-size: 24px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_button.icon-read-more i,
.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_button.icon-read-more span {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_button.icon-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_button.button-read-more {
	margin: 4px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-bfe755f .elementor-spacer-inner {
	height: 120px;
}

.elementor-957 .elementor-element.elementor-element-4ca8ef2 .elementor-icon {
	font-size: 40px;
}

.elementor-957 .elementor-element.elementor-element-4ca8ef2 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-957 .elementor-element.elementor-element-4ca8ef2 .wgl-counter_value-wrap {
	margin: 0px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-4ca8ef2 .wgl-counter_title {
	margin: -5px 0px 0px 0px;
	font-size: 18px;
}

.elementor-957 .elementor-element.elementor-element-4ca8ef2 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-957 .elementor-element.elementor-element-1a9cca8 .elementor-spacer-inner {
	height: 0px;
}

.elementor-957 .elementor-element.elementor-element-5ede0f5 .elementor-icon {
	font-size: 40px;
}

.elementor-957 .elementor-element.elementor-element-5ede0f5 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-957 .elementor-element.elementor-element-5ede0f5 .wgl-counter_value-wrap {
	margin: 0px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-5ede0f5 .wgl-counter_title {
	margin: -5px 0px 0px 0px;
	font-size: 18px;
}

.elementor-957 .elementor-element.elementor-element-5ede0f5 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-957 .elementor-element.elementor-element-5623989 .elementor-spacer-inner {
	height: 0px;
}

.elementor-957 .elementor-element.elementor-element-ed3c208 .elementor-icon {
	font-size: 40px;
}

.elementor-957 .elementor-element.elementor-element-ed3c208 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-957 .elementor-element.elementor-element-ed3c208 .wgl-counter_value-wrap {
	margin: 0px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-ed3c208 .wgl-counter_title {
	margin: -5px 0px 0px 0px;
	font-size: 18px;
}

.elementor-957 .elementor-element.elementor-element-ed3c208 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-957 .elementor-element.elementor-element-6b97cd7 {
	z-index: 5;
}

.elementor-957 .elementor-element.elementor-element-e0e38f5 .elementor-spacer-inner {
	height: 0px;
}

.elementor-957 .elementor-element.elementor-element-59bb7b2 .elementor-icon {
	font-size: 40px;
}

.elementor-957 .elementor-element.elementor-element-59bb7b2 .media-wrapper {
	margin: 0px 0px 8px 0px;
}

.elementor-957 .elementor-element.elementor-element-59bb7b2 .wgl-counter_value-wrap {
	margin: 0px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-59bb7b2 .wgl-counter_title {
	margin: -5px 0px 0px 0px;
	font-size: 18px;
}

.elementor-957 .elementor-element.elementor-element-59bb7b2 .wgl-counter_content {
	margin: 2px 20px 0px 20px;
}

.elementor-957 .elementor-element.elementor-element-d9e8b77 .elementor-spacer-inner {
	height: 104px;
}

.elementor-957 .elementor-element.elementor-element-a4fb97f:not(.elementor-motion-effects-element-type-background),
.elementor-957 .elementor-element.elementor-element-a4fb97f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F5F5F5;
}

.elementor-957 .elementor-element.elementor-element-a4fb97f {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-957 .elementor-element.elementor-element-a4fb97f>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-957 .elementor-element.elementor-element-063698f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-957 .elementor-element.elementor-element-063698f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/portrait-smiling.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-957 .elementor-element.elementor-element-063698f>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-063698f>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-957 .elementor-element.elementor-element-a6cf730 .elementor-spacer-inner {
	height: 655px;
}

.elementor-957 .elementor-element.elementor-element-b22ec62>.elementor-element-populated {
	padding: 0px 0px 0px 85px;
}

.elementor-957 .elementor-element.elementor-element-2dafca2 .elementor-spacer-inner {
	height: 108px;
}

.elementor-957 .elementor-element.elementor-element-535944f .dblh__divider {
	color: #FFFFFF;
}

.elementor-957 .elementor-element.elementor-element-391dd2c {
	color: #202020;
	font-size: 18px;
}

.elementor-957 .elementor-element.elementor-element-b272ab6 .progress__content {
	text-transform: uppercase;
}

.elementor-957 .elementor-element.elementor-element-b272ab6 .content__value {
	padding: 4px 5px 4px 6px;
}

.elementor-957 .elementor-element.elementor-element-b272ab6 .progress__bar .bar__filled {
	height: 5px;
}

.elementor-957 .elementor-element.elementor-element-b272ab6 .bar__filled {
	transform: translateY(calc(-1 * 11px));
}

.elementor-957 .elementor-element.elementor-element-b272ab6 .progress__bar {
	height: 1px;
	background-color: #d9d9d9;
	margin: 16px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-f15000e .progress__content {
	text-transform: uppercase;
}

.elementor-957 .elementor-element.elementor-element-f15000e .content__value {
	padding: 4px 5px 4px 6px;
}

.elementor-957 .elementor-element.elementor-element-f15000e .progress__bar .bar__filled {
	height: 5px;
}

.elementor-957 .elementor-element.elementor-element-f15000e .bar__filled {
	transform: translateY(calc(-1 * 11px));
}

.elementor-957 .elementor-element.elementor-element-f15000e .progress__bar {
	height: 1px;
	background-color: #d9d9d9;
	margin: 16px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-a4869ce .progress__content {
	text-transform: uppercase;
}

.elementor-957 .elementor-element.elementor-element-a4869ce .content__value {
	padding: 4px 5px 4px 6px;
}

.elementor-957 .elementor-element.elementor-element-a4869ce .progress__bar .bar__filled {
	height: 5px;
}

.elementor-957 .elementor-element.elementor-element-a4869ce .bar__filled {
	transform: translateY(calc(-1 * 11px));
}

.elementor-957 .elementor-element.elementor-element-a4869ce .progress__bar {
	height: 1px;
	background-color: #d9d9d9;
	margin: 16px 0px 10px 0px;
}

.elementor-957 .elementor-element.elementor-element-55a9c7d .elementor-spacer-inner {
	height: 89px;
}

.elementor-957 .elementor-element.elementor-element-d19dc8b {
	width: auto;
	max-width: auto;
	top: -50%;
}

body:not(.rtl) .elementor-957 .elementor-element.elementor-element-d19dc8b {
	right: 12%;
}

body.rtl .elementor-957 .elementor-element.elementor-element-d19dc8b {
	left: 12%;
}

.elementor-957 .elementor-element.elementor-element-b006ab5 {
	width: auto;
	max-width: auto;
	bottom: 0px;
}

body:not(.rtl) .elementor-957 .elementor-element.elementor-element-b006ab5 {
	right: 18%;
}

body.rtl .elementor-957 .elementor-element.elementor-element-b006ab5 {
	left: 18%;
}

.elementor-957 .elementor-element.elementor-element-940414f .elementor-spacer-inner {
	height: 107px;
}

.elementor-957 .elementor-element.elementor-element-98c28fa.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-957 .elementor-element.elementor-element-eb8b3c5 .elementor-spacer-inner {
	height: 26px;
}

.elementor-957 .elementor-element.elementor-element-129a41c>.elementor-element-populated {
	margin: 0px 20px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-32b10d1 .wgl-accordion_title {
	order: 0;
	flex-grow: 1;
}

.elementor-957 .elementor-element.elementor-element-32b10d1 .wgl-accordion_panel {
	margin: 0px 0px 5px 0px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #d9dadf;
}

.elementor-957 .elementor-element.elementor-element-32b10d1 .wgl-accordion_header {
	padding: 15px 0px 22px 0px;
}

.elementor-957 .elementor-element.elementor-element-32b10d1 .wgl-accordion_content {
	padding: 0px 0px 25px 0px;
}

.elementor-957 .elementor-element.elementor-element-32b10d1>.elementor-widget-container {
	margin: 5px 0px 0px 0px;
}

.elementor-957 .elementor-element.elementor-element-ca2b9e4 .elementor-spacer-inner {
	height: 115px;
}

.elementor-957 .elementor-element.elementor-element-88ebe65>.elementor-container {
	max-width: 1320px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-ef6a289.clients_image img:not(.lazyload),
.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-ef6a289.clients_image img.lazyloaded {
	width: 144px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-086a2ab.clients_image img:not(.lazyload),
.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-086a2ab.clients_image img.lazyloaded {
	width: 66px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-2a49a47.clients_image img:not(.lazyload),
.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-2a49a47.clients_image img.lazyloaded {
	width: 132px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-5e55fc4.clients_image img:not(.lazyload),
.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-5e55fc4.clients_image img.lazyloaded {
	width: 91px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-0c84de3.clients_image img:not(.lazyload),
.elementor-957 .elementor-element.elementor-element-ae5ffc6 .elementor-repeater-item-0c84de3.clients_image img.lazyloaded {
	width: 148px;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .clients_image {
	justify-content: center;
	transition: 0.4s;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .wgl-clients {
	align-items: center;
}

.elementor-957 .elementor-element.elementor-element-ae5ffc6 .swiper-wrapper {
	align-items: center;
	display: flex;
}

.elementor-957 .elementor-element.elementor-element-9055383 .elementor-spacer-inner {
	height: 80px;
}

body.elementor-page-957 #main.site-main {
	z-index: 0;
}

@media(min-width:768px) {
	.elementor-957 .elementor-element.elementor-element-7d3020f {
		width: 60%;
	}

	.elementor-957 .elementor-element.elementor-element-f6f1109 {
		width: 40%;
	}

	.elementor-957 .elementor-element.elementor-element-063698f {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-b22ec62 {
		width: 31%;
	}

	.elementor-957 .elementor-element.elementor-element-22e9a32 {
		width: 18.332%;
	}

	.elementor-957 .elementor-element.elementor-element-129a41c {
		width: 49%;
	}

	.elementor-957 .elementor-element.elementor-element-c98c442 {
		width: 51%;
	}
}

@media(max-width:1200px) and (min-width:768px) {
	.elementor-957 .elementor-element.elementor-element-7d3020f {
		width: 65%;
	}

	.elementor-957 .elementor-element.elementor-element-f6f1109 {
		width: 35%;
	}

	.elementor-957 .elementor-element.elementor-element-0fb7b85 {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-fff5836 {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-941156c {
		width: 100%;
	}

	.elementor-957 .elementor-element.elementor-element-9763c8b {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-67c865c {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-b086fa8 {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-6b97cd7 {
		width: 50%;
	}

	.elementor-957 .elementor-element.elementor-element-063698f {
		width: 100%;
	}

	.elementor-957 .elementor-element.elementor-element-b22ec62 {
		width: 100%;
	}

	.elementor-957 .elementor-element.elementor-element-129a41c {
		width: 100%;
	}

	.elementor-957 .elementor-element.elementor-element-c98c442 {
		width: 100%;
	}
}

@media(min-width:1201px) {
	.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_front {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_front {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_front {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back {
		background-attachment: scroll;
	}

	.elementor-957 .elementor-element.elementor-element-063698f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-957 .elementor-element.elementor-element-063698f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}
}

@media(max-width:1200px) {
	.elementor-957 .elementor-element.elementor-element-902abf2 .elementor-spacer-inner {
		height: 0px;
	}

	.elementor-957 .elementor-element.elementor-element-eed43ac .dblh__title-wrapper {
		font-size: 34px;
	}

	.elementor-957 .elementor-element.elementor-element-e04ac63 .wgl-flipbox_back .wgl-flipbox_content {
		margin: 14px 0px 14px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-139cbae .wgl-flipbox_back .wgl-flipbox_content {
		margin: 14px 0px 14px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-941156c>.elementor-element-populated {
		margin: 0% 25% 0% 25%;
	}

	.elementor-957 .elementor-element.elementor-element-4557241 .wgl-flipbox_back .wgl-flipbox_content {
		margin: 14px 0px 14px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-4557241>.elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-bfe755f .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-957 .elementor-element.elementor-element-5623989 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-e0e38f5 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-d9e8b77 .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-957 .elementor-element.elementor-element-063698f>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-a6cf730 .elementor-spacer-inner {
		height: 600px;
	}

	.elementor-957 .elementor-element.elementor-element-b22ec62>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}

	.elementor-957 .elementor-element.elementor-element-2dafca2 .elementor-spacer-inner {
		height: 60px;
	}

	.elementor-957 .elementor-element.elementor-element-535944f .dblh__title-wrapper {
		font-size: 34px;
	}

	.elementor-957 .elementor-element.elementor-element-55a9c7d .elementor-spacer-inner {
		height: 40px;
	}

	.elementor-957 .elementor-element.elementor-element-940414f .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-957 .elementor-element.elementor-element-5a72f28 .dblh__title-wrapper {
		font-size: 32px;
	}

	.elementor-957 .elementor-element.elementor-element-129a41c>.elementor-element-populated {
		margin: 40px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-b4ca12c {
		text-align: center;
	}

	.elementor-957 .elementor-element.elementor-element-ca2b9e4 .elementor-spacer-inner {
		height: 50px;
	}

	.elementor-957 .elementor-element.elementor-element-9055383 .elementor-spacer-inner {
		height: 40px;
	}
}

@media(max-width:767px) {
	.elementor-957 .elementor-element.elementor-element-902abf2 .elementor-spacer-inner {
		height: 0px;
	}

	.elementor-957 .elementor-element.elementor-element-eed43ac .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-0549df4>.elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-6caba21 .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-957 .elementor-element.elementor-element-fff5836>.elementor-element-populated {
		margin: 30px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-941156c>.elementor-element-populated {
		margin: 30px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-4557241>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-bfe755f .elementor-spacer-inner {
		height: 70px;
	}

	.elementor-957 .elementor-element.elementor-element-1a9cca8 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-5623989 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-e0e38f5 .elementor-spacer-inner {
		height: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-063698f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-957 .elementor-element.elementor-element-063698f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-size: cover;
	}

	.elementor-957 .elementor-element.elementor-element-a6cf730 .elementor-spacer-inner {
		height: 500px;
	}

	.elementor-957 .elementor-element.elementor-element-535944f .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-5a72f28 .dblh__title-wrapper {
		font-size: 30px;
	}

	.elementor-957 .elementor-element.elementor-element-129a41c>.elementor-element-populated {
		margin: 20px 0px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-32b10d1 .wgl-accordion_icon {
		margin: 0px 2px 0px 0px;
	}

	.elementor-957 .elementor-element.elementor-element-b4ca12c img {
		width: 100%;
		max-width: 100%;
	}

	.elementor-957 .elementor-element.elementor-element-ca2b9e4 .elementor-spacer-inner {
		height: 40px;
	}

	.elementor-957 .elementor-element.elementor-element-9055383 .elementor-spacer-inner {
		height: 40px;
	}
}