.elementor-2750 .elementor-element.elementor-element-675e2f66.animation_toggling .wgl-service_content {
    transform: translateY(68%);
}

.elementor-2750 .elementor-element.elementor-element-675e2f66.animation_toggling .wgl-service_content,
.elementor-2750 .elementor-element.elementor-element-675e2f66.animation_toggling .wgl-service_count {
    transition-duration: 0.6s;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button-wrapper {
    text-align: left;
    margin: 0px 0px 40px 40px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button i {
    font-size: 24px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button i,
.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button span {
    height: 55px;
    width: 55px;
    line-height: 55px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .elementor-widget-container {
    padding: 160px 0px 114px 0px;
    background-color: #02010100;
    background-image: url("../../2021/06/service_7.76765c32dfab.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .elementor-widget-container:before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #565ea7 76%);
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_title {
    margin: 0px 38px 11px 38px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_title .service_title-2 {
    top: -19px;
    left: -6px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_subtitle {
    margin: 0px 38px 6px 38px;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_description {
    margin: 0px 38px 0px 38px;
    color: #ffffff;
}

.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button,
.elementor-2750 .elementor-element.elementor-element-675e2f66 .wgl-service_button i {
    border-radius: 28px;
}

@media(max-width:767px) {
    .elementor-2750 .elementor-element.elementor-element-675e2f66>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}