.elementor-3225 .elementor-element.elementor-element-988e2ab>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3225 .elementor-element.elementor-element-988e2ab:not(.elementor-motion-effects-element-type-background),
.elementor-3225 .elementor-element.elementor-element-988e2ab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #323c8d;
}

.elementor-3225 .elementor-element.elementor-element-988e2ab {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-3225 .elementor-element.elementor-element-988e2ab>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3225 .elementor-element.elementor-element-3b40953 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    max-width: auto;
}

.elementor-3225 .elementor-element.elementor-element-3b40953>.elementor-widget-container {
    margin: 0px 35px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-d4755d3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    max-width: auto;
}

.elementor-3225 .elementor-element.elementor-element-d4755d3>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-8ddce4c {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    max-width: auto;
}

.elementor-3225 .elementor-element.elementor-element-8ddce4c>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-bd6ba01.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .align-icon-right .media-wrapper {
    margin-left: 9px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .align-icon-left .media-wrapper {
    margin-right: 9px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .wgl-button {
    font-size: 14px;
    font-weight: 400;
    background-color: #4D141400;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .wgl-button:hover {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .wgl-button.with-border {
    --transmax-button-margin: 0px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .media-wrapper {
    margin: -1px 0px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 .elementor-icon {
    color: var(--e-global-color-primary);
    font-size: 14px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544>.elementor-widget-container {
    margin: 0px 32px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-62ee544 {
    width: auto;
    max-width: auto;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab {
    text-align: center;
    --icon-size: 12px;
    width: auto;
    max-width: auto;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon i {
    color: #6897A1;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon svg {
    fill: #6897A1;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon {
    background-color: #02010100;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF26;
    border-radius: 0px 0px 0px 0px;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon:hover i {
    color: #FF7D44;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon:hover svg {
    fill: #FF7D44;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon:hover {
    background-color: #565ea7;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-social-icon {
    --icon-padding: 14px;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab .elementor-icon:not(:last-child) {
    margin-right: 0px;
}

.elementor-3225 .elementor-element.elementor-element-1fd16ab>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #FFFFFF26;
}

.elementor-3225 .elementor-element.elementor-element-0c1c5eb:not(.elementor-motion-effects-element-type-background),
.elementor-3225 .elementor-element.elementor-element-0c1c5eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #9E1B1B00;
}

.elementor-3225 .elementor-element.elementor-element-0c1c5eb {
    box-shadow: 9px 12px 38px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 15px 0px 15px;
}

.elementor-3225 .elementor-element.elementor-element-0c1c5eb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3225 .elementor-element.elementor-element-0c1c5eb.wgl-add-backdrop-filter:after {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.elementor-bc-flex-widget .elementor-3225 .elementor-element.elementor-element-febedd7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3225 .elementor-element.elementor-element-febedd7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3225 .elementor-element.elementor-element-47a552c .wgl-logotype-container {
    text-align: left;
}

.elementor-3225 .elementor-element.elementor-element-47a552c>.elementor-widget-container {
    margin: 0px 0px 0px 8px;
}

.elementor-3225 .elementor-element.elementor-element-47a552c {
    width: 100%;
    max-width: 100%;
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 {
    display: inline-flex;
    width: auto;
    flex-grow: 1;
    justify-content: center;
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav {
    height: 90px;
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav>ul>li>a>.menu-item__plus {
    color: #A9A9A9;
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav>ul>li:hover>a {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav>ul>li:hover>a>.menu-item__plus {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav>ul>li[class*="current"]>a {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-d68eeb8 .primary-nav>ul>li[class*="current"]:not(:hover)>a>.menu-item__plus {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-9cf727b.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3225 .elementor-element.elementor-element-5898b38 .mini-cart .wgl-cart {
    color: #FFFFFF;
}

.elementor-3225 .elementor-element.elementor-element-5898b38 .mini-cart:hover .wgl-cart {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-718491f .wgl-search {
    justify-content: center;
}

.elementor-3225 .elementor-element.elementor-element-718491f .header_search.search_standard .header_search-field .search-field {
    font-weight: 400;
}

.elementor-3225 .elementor-element.elementor-element-718491f .header_search-button {
    color: #FFFFFF;
}

.elementor-3225 .elementor-element.elementor-element-718491f .wgl-search:hover .header_search-button {
    color: var(--e-global-color-primary);
}

.elementor-3225 .elementor-element.elementor-element-718491f>.elementor-widget-container {
    margin: 0px 0px 0px 40px;
}

.elementor-3225 .elementor-element.elementor-element-718491f {
    width: auto;
    max-width: auto;
}

@media(max-width:767px) {
    .elementor-3225 .elementor-element.elementor-element-62ee544>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-3225 .elementor-element.elementor-element-62ee544 {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width:768px) {
    .elementor-3225 .elementor-element.elementor-element-725e065 {
        width: 50%;
    }

    .elementor-3225 .elementor-element.elementor-element-bd6ba01 {
        width: 50%;
    }

    .elementor-3225 .elementor-element.elementor-element-febedd7 {
        width: 20%;
    }

    .elementor-3225 .elementor-element.elementor-element-bdc8469 {
        width: 59.333%;
    }

    .elementor-3225 .elementor-element.elementor-element-9cf727b {
        width: 20%;
    }
}