.elementor-3077 .elementor-element.elementor-element-0426093:not(.elementor-motion-effects-element-type-background),
.elementor-3077 .elementor-element.elementor-element-0426093>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #323c8d;
}

.elementor-3077 .elementor-element.elementor-element-0426093 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 32px 30px 13px 30px;
}

.elementor-3077 .elementor-element.elementor-element-0426093>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3077 .elementor-element.elementor-element-2c0c092>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-729904f>.elementor-widget-container {
    margin: 0px 0px -30px 0px;
}

.elementor-3077 .elementor-element.elementor-element-99ecdf1 {
    --divider-border-style: solid;
    --divider-color: #265864;
    --divider-border-width: 1px;
}

.elementor-3077 .elementor-element.elementor-element-99ecdf1 .elementor-divider-separator {
    width: 100%;
}

.elementor-3077 .elementor-element.elementor-element-99ecdf1 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-3077 .elementor-element.elementor-element-99ecdf1>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-42f5f95 {
    color: #FFFFFF;
}

.elementor-3077 .elementor-element.elementor-element-42f5f95>.elementor-widget-container {
    margin: -10px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-0ecc4a0>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-991f998>.elementor-widget-container {
    margin: 0px 0px -30px 0px;
}

.elementor-3077 .elementor-element.elementor-element-f2a38ec {
    --divider-border-style: solid;
    --divider-color: #265864;
    --divider-border-width: 1px;
}

.elementor-3077 .elementor-element.elementor-element-f2a38ec .elementor-divider-separator {
    width: 100%;
}

.elementor-3077 .elementor-element.elementor-element-f2a38ec .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-3077 .elementor-element.elementor-element-f2a38ec>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-733caf1 {
    color: #FFFFFF;
}

.elementor-3077 .elementor-element.elementor-element-733caf1>.elementor-widget-container {
    margin: -10px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-09c1830>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-51accb4>.elementor-widget-container {
    margin: 0px 0px -30px 0px;
}

.elementor-3077 .elementor-element.elementor-element-ac7abde {
    --divider-border-style: solid;
    --divider-color: #265864;
    --divider-border-width: 1px;
}

.elementor-3077 .elementor-element.elementor-element-ac7abde .elementor-divider-separator {
    width: 100%;
}

.elementor-3077 .elementor-element.elementor-element-ac7abde .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-3077 .elementor-element.elementor-element-ac7abde>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-ef32182 {
    color: #FFFFFF;
}

.elementor-3077 .elementor-element.elementor-element-ef32182>.elementor-widget-container {
    margin: -10px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-5fe83fe>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-b556555>.elementor-widget-container {
    margin: 0px 0px -30px 0px;
}

.elementor-3077 .elementor-element.elementor-element-03bff1d {
    --divider-border-style: solid;
    --divider-color: #265864;
    --divider-border-width: 1px;
}

.elementor-3077 .elementor-element.elementor-element-03bff1d .elementor-divider-separator {
    width: 100%;
}

.elementor-3077 .elementor-element.elementor-element-03bff1d .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-3077 .elementor-element.elementor-element-03bff1d>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-9d096c5 {
    color: #FFFFFF;
}

.elementor-3077 .elementor-element.elementor-element-9d096c5>.elementor-widget-container {
    margin: -10px 0px 0px 30px;
}

.elementor-3077 .elementor-element.elementor-element-cf0a90a .elementor-spacer-inner {
    height: 43px;
}

.elementor-3077 .elementor-element.elementor-element-084ddfc .wgl-gallery_items:not(.gallery-justified) .wgl-gallery_item-wrapper {
    padding: calc(30px / 2);
}

.elementor-3077 .elementor-element.elementor-element-084ddfc .wgl-gallery_items:not(.gallery-justified) {
    margin: calc(-30px / 2);
}

.elementor-3077 .elementor-element.elementor-element-084ddfc .wgl-gallery_image-info {
    text-align: center;
    justify-content: center;
}

.elementor-3077 .elementor-element.elementor-element-fff5a7d .elementor-spacer-inner {
    height: 28px;
}

.elementor-3077 .elementor-element.elementor-element-04f680e .elementor-heading-title {
    color: #202002;
    font-size: 30px;
}

.elementor-3077 .elementor-element.elementor-element-04f680e>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-3077 .elementor-element.elementor-element-438b977>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-3077 .elementor-element.elementor-element-898b346.animation_toggling .wgl-infobox_wrapper {
    transform: translateY(30px);
}

.elementor-3077 .elementor-element.elementor-element-898b346.animation_toggling .elementor-widget-container:hover .wgl-infobox_wrapper {
    transform: translateY(-30px);
}

.elementor-3077 .elementor-element.elementor-element-898b346.animation_toggling .wgl-infobox_wrapper,
.elementor-3077 .elementor-element.elementor-element-898b346.animation_toggling .media-wrapper,
.elementor-3077 .elementor-element.elementor-element-898b346.animation_toggling .wgl-infobox-button_wrapper {
    transition-duration: 0.6s;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .media-wrapper .elementor-icon {
    font-size: 30px;
    margin: 10px 0px 0px 38px;
}

.elementor-3077 .elementor-element.elementor-element-898b346.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-898b346.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .wgl-infobox_title {
    font-size: 22px;
    line-height: 34px;
    margin: 11px 0px 3px 40px;
    padding: 0px 10px 0px 0px;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-3077 .elementor-element.elementor-element-898b346 .wgl-infobox_content {
    margin: 0px 0px -20px 0px;
    padding: 0px 50px 0px 39px;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .elementor-widget-container:before {
    background-color: #F5F5F5;
}

.elementor-3077 .elementor-element.elementor-element-898b346 .elementor-widget-container:hover {
    box-shadow: 7px 0px 10px 0px rgba(255, 255, 255, 0);
}

.elementor-3077 .elementor-element.elementor-element-898b346>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209.animation_toggling .wgl-infobox_wrapper {
    transform: translateY(30px);
}

.elementor-3077 .elementor-element.elementor-element-61a8209.animation_toggling .elementor-widget-container:hover .wgl-infobox_wrapper {
    transform: translateY(-30px);
}

.elementor-3077 .elementor-element.elementor-element-61a8209.animation_toggling .wgl-infobox_wrapper,
.elementor-3077 .elementor-element.elementor-element-61a8209.animation_toggling .media-wrapper,
.elementor-3077 .elementor-element.elementor-element-61a8209.animation_toggling .wgl-infobox-button_wrapper {
    transition-duration: 0.6s;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .media-wrapper .elementor-icon {
    font-size: 35px;
    margin: 10px 0px 0px 38px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .wgl-infobox_title {
    font-size: 22px;
    line-height: 34px;
    margin: 6px 0px 3px 40px;
    padding: 0px 30px 0px 0px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .wgl-infobox_content {
    margin: 0px 0px -20px 0px;
    padding: 0px 50px 0px 39px;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .elementor-widget-container:before {
    background-color: #F5F5F5;
}

.elementor-3077 .elementor-element.elementor-element-61a8209 .elementor-widget-container:hover {
    box-shadow: 7px 0px 10px 0px rgba(255, 255, 255, 0);
}

.elementor-3077 .elementor-element.elementor-element-61a8209>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58.animation_toggling .wgl-infobox_wrapper {
    transform: translateY(30px);
}

.elementor-3077 .elementor-element.elementor-element-b32ec58.animation_toggling .elementor-widget-container:hover .wgl-infobox_wrapper {
    transform: translateY(-30px);
}

.elementor-3077 .elementor-element.elementor-element-b32ec58.animation_toggling .wgl-infobox_wrapper,
.elementor-3077 .elementor-element.elementor-element-b32ec58.animation_toggling .media-wrapper,
.elementor-3077 .elementor-element.elementor-element-b32ec58.animation_toggling .wgl-infobox-button_wrapper {
    transition-duration: 0.6s;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .media-wrapper .elementor-icon {
    font-size: 30px;
    margin: 10px 0px 0px 38px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-icon .elementor-icon:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58.elementor-widget-wgl-info-box.elementor-view-bubble .wgl-number.elementor-icon .number:after {
    top: -42%;
    left: 35%;
    width: 40px;
    height: 40px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .wgl-infobox_title {
    font-size: 22px;
    line-height: 34px;
    margin: 11px 0px 3px 40px;
    padding: 0px 10px 0px 0px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .elementor-widget-container:hover .wgl-infobox_title {
    transform: translateY(0px);
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .wgl-infobox_content {
    margin: 0px 0px -20px 0px;
    padding: 0px 50px 0px 39px;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .elementor-widget-container {
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .elementor-widget-container:before {
    background-color: #F5F5F5;
}

.elementor-3077 .elementor-element.elementor-element-b32ec58 .elementor-widget-container:hover {
    box-shadow: 7px 0px 10px 0px rgba(255, 255, 255, 0);
}

.elementor-3077 .elementor-element.elementor-element-b32ec58>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-3077 .elementor-element.elementor-element-c6adc69 .elementor-spacer-inner {
    height: 16px;
}

.elementor-3077 .elementor-element.elementor-element-cfff336 .elementor-heading-title {
    color: #202002;
    font-size: 30px;
}

.elementor-3077 .elementor-element.elementor-element-7c12860>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

@media(max-width:1200px) {
    .elementor-3077 .elementor-element.elementor-element-13705ba>.elementor-element-populated {
        margin: 0% 25% 0% 25%;
    }
}

@media(max-width:767px) {
    .elementor-3077 .elementor-element.elementor-element-0426093 {
        padding: 30px 0px 10px 0px;
    }

    .elementor-3077 .elementor-element.elementor-element-13705ba>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-3077 .elementor-element.elementor-element-2c0c092 {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-0ecc4a0 {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-09c1830 {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-5fe83fe {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-7c3b3de {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-a43f96a {
        width: 50%;
    }

    .elementor-3077 .elementor-element.elementor-element-13705ba {
        width: 100%;
    }
}